@font-face {
    font-family: 'AgroRegular';
    src: url('fonts/AkzidenzGrotesk-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AgroMedium';
    src: url('fonts/AkzidenzGrotesk-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AgroCondensed';
    src: url('fonts/AkzidenzGrotesk-Cond.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'AgroRegular', sans-serif;
}
#main-wrapper{
    background-image: url("../img/bg.png");
}
#wrapper-content{
    margin-left: 0;
    margin-right: 0;
}
#footer{
    margin-bottom: 20px;
    color: white;
}
#footer a{
    color: #FFFFFF;
}
#footer a:hover, a:focus{
    color: #f5f5f5;
    text-decoration: none;
}
.bg-white{
    background-color: white;
}
.rounded{
    border-radius: 7px;
}
.rounded.none-top{
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.rounded.none-bottom{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
/* Unique link */

#box-top{
    color: rgb(117, 70, 24);
    background-color: #fce449;
    overflow: hidden;
}
#box-top #img-box{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}
#box-top #receiver-link{
    color: #553413;
    font-size: 36px;
    font-weight: 600;
    padding: 37px 0;
}
#box-top #barusaja{
    font-weight: 300;
}
#box-top #text-bukaan{
    font-weight: 600;
}
#box-top #sender-link{
    color: #6f9e42;
    font-weight: 600;
}
#box-top #wrapper-text-bukaan{
    padding: 25px 40px;
    font-size: 28px;
    line-height: 1.1;
}
#box-top #from{
    padding: 30px 15px 30px 15px;
}
#box-top #from img, #box-top #receiver-photo img{
    width: 80px;
}
#box-top #from #sender{
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
    line-height: 1;
    text-transform: uppercase;
}
#box-top #words{
    /*height: 200px;*/
}
#box-top #words #words-row{
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 2px dotted rgb(255, 196, 42);
}
#box-top #words #send-text{
    margin-top: 20px;
    font-size: 26px;
    font-weight: 600;
    padding-right: 10px;
    line-height: 1.1;
}
#box-top #receiver{
    padding-top: 15px;
    padding-bottom: 15px;
}
#box-top #receiver #receiver-name{
    margin-top: 12px;
    font-size: 30px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    border-bottom: 2px dotted rgb(198, 198, 198);
}
#box-bottom{
    color: rgb(117, 70, 24);
    margin-top: 3px;
    margin-bottom: 20px;
}
#box-bottom #text-redeem{
    padding: 32px 0 32px 20px;
    font-size: 22px;
    font-weight: 600;
    line-height: 1;
}
#box-bottom #arrow{
    position: absolute;
    top: 45px;
    right: 0px;
}
#box-bottom #link, #box-bottom #voucher{
    padding: 10px;
    margin: 25px 20px 25px 0;
}
#box-bottom #link a{
    color: rgb(117, 70, 24);
    font-size: 28px;
    font-weight: 100;
    word-wrap: break-word;
    line-height: 1;
}
#box-bottom #voucher{
    font-size: 28px;
    font-weight: 600;
}
.bg-gradient{
    background: rgba(241,111,92,1);
    background: -moz-linear-gradient(left, rgba(241,111,92,1) 0%, rgba(255,241,215,1) 0%, rgba(255,247,234,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,111,92,1)), color-stop(0%, rgba(255,241,215,1)), color-stop(100%, rgba(255,247,234,1)));
    background: -webkit-linear-gradient(left, rgba(241,111,92,1) 0%, rgba(255,241,215,1) 0%, rgba(255,247,234,1) 100%);
    background: -o-linear-gradient(left, rgba(241,111,92,1) 0%, rgba(255,241,215,1) 0%, rgba(255,247,234,1) 100%);
    background: -ms-linear-gradient(left, rgba(241,111,92,1) 0%, rgba(255,241,215,1) 0%, rgba(255,247,234,1) 100%);
    background: linear-gradient(to right, rgba(241,111,92,1) 0%, rgba(255,241,215,1) 0%, rgba(255,247,234,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f16f5c', endColorstr='#fff7ea', GradientType=1 );
}