@font-face {
    font-family: 'AgroRegular';
    src: url('fonts/AkzidenzGrotesk-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AgroMedium';
    src: url('fonts/AkzidenzGrotesk-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AgroCondensed';
    src: url('fonts/AkzidenzGrotesk-Cond.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'AgroRegular', sans-serif;
}

#main-wrapper {
    background-image: url("../img/bg.png");
}

#banner {
    overflow: hidden;
}

footer {
    padding: 10px 0 20px 0;
    background-color: #6e9e43;
}

footer a, footer .text-center {
    color: #fbd41d;
}

footer a:hover {
    color: #fbce09;
    text-decoration: none;
}

#full-wrapper {
    background-color: #fffbe9;
    background-image: url("../img/bg-full-wrapper.png");
    /*position: relative;*/
    /*top: -195px;*/
}

#wrapper-unlock, #wrapper-connect {
    overflow: hidden;
    background-color: rgb(253, 255, 234);
}

#wrapper-unlock #fields {
    padding: 15px 40px 15px 75px;
}

#wrapper-unlock #mari-berbagi {
    margin: 24px 15px;
}

#wrapper-unlock #agree-text {
    padding: 5px 10px;
    background-color: rgb(214, 255, 249);
    font-size: 16px;
    margin-left: 10px;
}

#wrapper-unlock .checkbox {
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    #wrapper-unlock #fields {
        padding: 15px 40px 15px 40px;
    }

    #wrapper-unlock #mari-berbagi {
        margin: 24px 15px 0 15px;
    }

    #wrapper-unlock #agree-text {
        padding: 5px 10px;
        background-color: rgb(214, 255, 249);
        font-size: 16px;
    }

    #wrapper-unlock .checkbox {
        margin-bottom: 20px;
    }

    /*.input-group-xlg > .form-control, .input-group-lg .icon-submit {*/
    /*font-size: 16px !important;*/
    /*}*/
}

.gelombang {
    background-image: url("../img/gelombang-image.png");
    background-repeat: repeat-x;
    width: 100%;
    height: 4px;
    position: relative;
    bottom: 1px;
}

#mechanism {
    margin: 15px 0;
}

#mechanism #mechanism-img {
    background-image: url("../img/mekanisme-img.png");
    background-repeat: no-repeat;
    width: 24%;
    height: 383px;
}

#mechanism #mechanism-txt {
    padding: 20px 0;
    background-image: url("../img/mechanism-text-bg.png");
    background-repeat: repeat-x;
    height: 382px;
    width: 74%;
}

#mechanism #mechanism-right-corner {
    background-image: url("../img/mechanism-text-bg-right-corner.png");
    background-repeat: no-repeat;
    height: 382px;
    width: 2%;
}

#mechanism ol {
    line-height: 1.6;
    font-size: 15px;
    color: #6e9e43;
}

#mechanism ol li span {
    color: #333333;
}

#footer-home {
    background-image: url("../img/footer-home.png");
    margin: 0 -15px;
    background-repeat: repeat-x;
    background-position: center;
    height: 26px
}

/* Overide Bootstrap 3 */

.form-control {
    width: 100%;
    background-color: #fbeb9e;
    border-left: 2px solid #6e9e43;
    border-top: 2px solid #6e9e43;
    border-bottom: 2px solid #6e9e43;
    border-right: none;
    border-radius: 0;
    -webkit-box-shadow: inset 0 6px rgba(235, 216, 132, 1);
    box-shadow: inset 0 6px rgba(235, 216, 132, 1);
}

.form-control:focus {
    border-color: #6e9e43;
    outline: 0;
    -webkit-box-shadow: inset 0 6px rgba(235, 216, 132, .5);
    box-shadow: inset 0 6px rgba(235, 216, 132, .5);
}

.form-control::-moz-placeholder {
    color: #6e9e43;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #6e9e43;
}

.form-control::-webkit-input-placeholder {
    color: #6e9e43;
}

.btn-warning,
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
    background-color: rgb(249, 211, 36);
    border-left: none;
    border-right: 2px solid #6e9e43;
    border-top: 2px solid #6e9e43;
    border-bottom: 2px solid #6e9e43;
    -webkit-box-shadow: inset -6px 6px rgba(242, 198, 61, 1);
    box-shadow: inset -5px 6px rgba(242, 198, 61, 1);
    text-shadow: #fff 0px 1px 0px;
}

/* RADIOS & CHECKBOXES STYLES */

/* base styles */
input[type="checkbox"] {
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin: 0 0.4em 0.4em 0;
    border: 2px solid rgb(114, 160, 72);
    background: rgba(235, 216, 132, .5);
    -webkit-appearance: none;
    -webkit-transition: box-shadow 200ms;
    box-shadow: none;
}

/* border radius for checkbox */
input[type="checkbox"] {
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

/* focus state */
input[type="checkbox"]:focus {
    outline: none;
    box-shadow: none;
}

/* input checked border color */
input[type="checkbox"]:checked {
    /*border-color:rgba(0, 0, 0, 0.5)*/
}

/* checkbox checked */
input[type="checkbox"]:checked:before {
    font-weight: bold;
    color: rgb(114, 160, 72);
    content: '\2713';
    -webkit-margin-start: 0;
    margin-left: 1px;
    font-size: 16px;
}

@media (min-width: 501px) {
    .btn .icon-submit {
        display: none;
    }

    .input-group-btn:last-child > .btn {
        margin-left: 0;
        min-width: 170px;
    }
}

@media (max-width: 500px) {
    .btn .text-submit {
        display: none;
    }
}

@media (min-width: 403px) {
    .btn-yellow.big, .btn-green.big {
        min-width: 160px;
        font-size: 22px;
        height: 60px;
    }

    .btn .icon-terms {
        display: none;
    }
}

@media (max-width: 402px) {
    .btn .text-terms {
        display: none;
    }
}

/* End of overide bootstrap 3 */

.input-group-xlg > .form-control,
.input-group-xlg > .input-group-addon,
.input-group-xlg > .input-group-btn > .btn {
    height: 60px;
    padding: 8px 16px;
    font-size: 24px;
    /*line-height: 1.3333333;*/
    border-radius: 0;
    color: #6e9e43;
    font-weight: 600;
}

@media (max-width: 480px) {
    .input-group-xlg > .form-control,
    .input-group-xlg > .input-group-addon,
    .input-group-xlg > .input-group-btn > .btn {
        height: 46px;
        padding: 8px 12px;
        font-size: 18px;
    }
}

.bg-white {
    background-color: white;
}

.rounded {
    border-radius: 7px;
}

.rounded.none-top {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.rounded.none-bottom {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

/*Costume*/
.btn {
    border-radius: 0;
    font-family: "AgroCondensed";
    letter-spacing: 1.5px;
}

a.btn-tw, a.btn-red {
    padding-top: 16px;
}

.btn-fb {
    height: 55px;
    color: #fff;
    background-color: rgb(19, 98, 165);
    border: 2px solid rgb(0, 69, 135);
    font-weight: 600;
    -webkit-box-shadow: inset 2px 2px rgb(5, 127, 213);
    box-shadow: inset 2px 2px rgb(5, 127, 213);
}

.btn-fb:hover,
.btn-fb:focus,
.btn-fb.focus,
.btn-fb:active,
.btn-fb.active {
    color: #fff;
    background-color: rgb(19, 98, 165);
    border: 2px solid rgb(0, 69, 135);
}

.btn-fb.md {
    font-weight: 300;
    font-size: 16px;
    padding: 12px;
}

.btn-tw {
    height: 55px;
    color: #fff;
    background-color: rgb(65, 159, 226);
    border: 2px solid rgb(33, 138, 211);
    font-weight: 600;
    -webkit-box-shadow: inset 2px 2px rgb(91, 194, 242);
    box-shadow: inset 2px 2px rgb(91, 194, 242);
}

.btn-tw:hover,
.btn-tw:focus,
.btn-tw.focus,
.btn-tw:active,
.btn-tw.active {
    color: #fff;
    background-color: rgb(65, 159, 226);
    border: 2px solid rgb(33, 138, 211);
}

.btn-tw.md {
    font-weight: 300;
    font-size: 16px;
    /*padding: 14px 21px;*/
}

.btn-yellow {
    color: #6e9e43;
    background-color: #fbd41d;
    border: 2px solid #fbc901;
    font-weight: 600;
    -webkit-box-shadow: inset 2px 2px #fdea2a;
    box-shadow: inset 2px 2px #fdea2a;
}

.btn-yellow:hover,
.btn-yellow:focus,
.btn-yellow.focus,
.btn-yellow:active,
.btn-yellow.active {
    color: #6e9e43;
    background-color: #fbd41d;
    border: 2px solid #fbc901;
}

.btn-green {
    color: #fbd41d;
    background-color: #6e9e43;
    border: 2px solid #648f3d;
    font-weight: 600;
    -webkit-box-shadow: inset 2px 2px #97c158;
    box-shadow: inset 2px 2px #97c158;
}

.btn-green:hover,
.btn-green:focus,
.btn-green.focus,
.btn-green:active,
.btn-green.active {
    color: #fbd41d;
    background-color: #6e9e43;
    border: 2px solid #648f3d;
}

/*.btn-yellow.big, .btn-green.big{*/
/*min-width: 160px;*/
/*font-size: 22px;*/
/*height: 60px;*/
/*}*/
.btn-yellow.md, .btn-green.md, .btn-red.md {
    min-width: 160px;
    font-size: 18px;
    height: 46px;
}

.btn-red {
    height: 55px;
    color: #fff;
    background-color: #d82c38;
    border: 2px solid #bf2331;
    font-weight: 600;
    -webkit-box-shadow: inset 2px 2px #fb6077;
    box-shadow: inset 2px 2px #fb6077;
}

.btn-red:hover,
.btn-red:focus,
.btn-red.focus,
.btn-red:active,
.btn-red.active {
    color: #fff;
    background-color: #d82c38;
    border: 2px solid #bf2331;
}

.btn-red.md {
    font-weight: 300;
    font-size: 16px;
    padding: 12px;
}

.md.text-choco {
    color: #563413;
}

.form-control.light-blue {
    color: #333333;
    background-color: rgb(154, 230, 246);
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 2px;
}

.form-control.light-blue::-moz-placeholder {
    color: #333333;
    opacity: .6;
}

.form-control.light-blue:-ms-input-placeholder {
    color: #333333;
    opacity: .6;
}

.form-control.light-blue::-webkit-input-placeholder {
    color: #333333;
    opacity: .6;
}

@media (max-width: 380px) {
    .form-control.light-blue {
        font-size: 15px;
    }

    .input-lg {
        padding: 10px 12px;
    }
}

/* End Custome */

/* Step */

#box-steps {
    background-color: #fffdeb;
    border: 2px solid #fbd41d;
    padding: 30px 40px;
}

@media (max-width: 420px) {
    #box-steps {
        padding: 20px;
    }
}

#box-steps.manual {
    margin-top: 20px;
    margin-bottom: 10px;
}

#box-steps .step-circle {
    width: 35px;
    height: auto;
    margin: 0 auto;
    /*text-align: center;*/
    padding: 7px;
    color: #FFFFFF;
    font-weight: 600;
    background-color: #5d5d5d;
    border-radius: 50%;
}

#box-steps .step-circle.red {
    background-color: #ce2d2d;
}

#box-steps .step-text {
    margin-top: 7px;
    font-weight: 600;
    font-size: 16px;
    color: #5d5d5d;
}

#box-steps .step-arrow {
    display: block;
    position: absolute;
    top: 33%;
    left: 64%;
}

/* End of steps */

/* Step 1 */

.mar-step1 {
    margin: 20px 30px;
}

/* Step 2 */
#box-friends {
    margin: 20px 0;
    padding: 25px;
}

#box-friends #keyword {
    font-weight: 300;
}

#friend-lists {
    margin-top: 20px;
    margin-bottom: 20px;
}

#friend-lists .friend-item {
    border: 1px dotted #5d5d5d;
    margin: 7px -3px;
    cursor: pointer;
}

#friend-lists .friend-item:hover {
    /*background-image: url("../img/pick-friend-fb.png");*/
    background-color: #fbd41d;
}

#friend-lists img {
    padding: 7px 0;
    width: 65px;
}

#friend-lists .friend-name {
    margin: 25px -15px;
    color: #6e9e43;
    font-size: 18px;
    text-transform: uppercase;
    white-space: nowrap;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#btn-more {
    background-image: url("../img/button-loadmore.png");
    width: 182px;
    height: 97px;
    background-color: transparent;
    border: none;
}

#btn-more:hover, #btn-more[disabled] {
    opacity: .7;
    border: none;
}

#btn-more:active, #btn-more:focus {
    opacity: 1;
    border: none;
}

@media (max-width: 450px) {
    #friend-lists img {
        width: 50px;
    }

    #friend-lists .friend-name {
        margin: 22px 0;
        font-size: 14px;
    }

    #btn-more {
        width: 140px;
        height: 70px;
        background-size: cover;
    }
}

.mcd-modal .modal-content {
    border-radius: 0;
    border: 4px solid #fbd41d;
    background-color: #fffdeb;
    color: #6e9e43;
    font-size: 18px;
}

.mcd-modal .modal-header, .mcd-modal .modal-footer {
    border: 0;
}

.mcd-modal .modal-footer {
    text-align: center;
    margin-bottom: 15px;
}

.mcd-modal #friend-avatar {
    border: 3px solid #fbd41d;
}

.mcd-modal #friend-name {
    margin-top: 15px;
    font-weight: 600;
}

.mcd-modal .modal-title {
    text-transform: uppercase;
    font-family: "AgroCondensed";
}

/* Step 3 */

#box-input-ecard {
    margin-top: 20px;
    background-color: #ffdf2e;
    /*padding: 25px;*/
}

#box-input-ecard #box-sender {
    border-top-left-radius: 7px;
    padding: 20px 30px;
    overflow: hidden;
    height: inherit;
}

/* Step 2 Route 2 */
#box-email-to-friend {
    margin-top: 20px;
    /*margin-bottom: 20px;*/
    background-color: #ffdf2e;
    overflow: hidden;
}

#box-email-to-friend #box-send-to {
    overflow: hidden;
}

#box-email-to-friend #wrapper-send-to {
    padding-top: 35px;
    padding-left: 25px;
    color: rgb(112, 69, 24);
}

#wrapper-send-to #send-to-text {
    margin-top: 20px;
    font-size: 34px;
    font-weight: 600;
    line-height: 1.0;
}

@media (max-width: 767px) {
    #box-email-to-friend #wrapper-send-to {
        padding-top: 25px;
    }

    #wrapper-send-to #send-to-text {
        margin-top: 0;
        /*font-size: 30px;*/
    }

    #wrapper-send-to img {
        margin-top: -10px;
        margin-bottom: 12px;
    }
}

@media (max-width: 380px) {
    #wrapper-send-to #send-to-text {
        font-size: 18px;
    }
}

#box-email-to-friend #fields {
    background-color: #FFFFFF;
}

#box-friend-wave {
    margin-bottom: 20px;
}

#box-friend-wave #wave-yellow {
    background-image: url("../img/pattern-gelombang-yellow.png");
    background-repeat: repeat-x;
    width: 100%;
    height: 6px;
    position: relative;
    bottom: 1px;
    margin: 0 0 -15px 0;
}

#box-friend-wave #wave-white {
    background-image: url("../img/pattern-gelombang-white.png");
    background-repeat: repeat-x;
    background-position-x: 25px;
    width: 100%;
    height: 6px;
    position: relative;
    bottom: 1px;
    margin: 0 -15px -15px -15px;
}

.wrapper-wave-friend-field {
    /*padding-left: 5px;*/
    padding-right: 0;
}

@media (max-width: 380px) {
    #wrapper-send-to #send-to-text {
        font-size: 24px;
    }
}

@media (min-width: 768px) {
    #box-email-to-friend #fields {
        padding: 35px 40px 15px 25px;
    }
}

@media (max-width: 767px) {
    #box-email-to-friend #fields {
        padding: 35px 40px 15px 40px;
    }

    #box-friend-wave #wave-yellow {
        display: none;
    }

    #box-friend-wave #wave-white {
        margin: -1px -15px -15px -15px;
    }
}

#box-email-to-friend #fields .form-group {
    margin-bottom: 20px;
}

#box-email-to-friend #fields .btn {
    width: 100%;
}

/* End Step 2 Route 2 */
#box-input-ecard {

}

#box-input-ecard #box-sender #from {
    font-size: 26px;
    font-weight: 700;
}

#box-input-ecard #box-sender #line {
    width: 95%;
    border: 1px dotted #f5f5f5;
    margin-left: -40px;
}

#box-input-ecard #box-sender #sender-fields {
    margin-top: 20px;
}

#box-input-ecard #box-sender #sender-fields .form-control {
    color: #333333;
    background-color: #FFFFFF;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#box-input-ecard #box-sender #sender-fields .form-control::-moz-placeholder {
    color: #333333;
    opacity: .6;
}

#box-input-ecard #box-sender #sender-fields .form-control:-ms-input-placeholder {
    color: #333333;
    opacity: .6;
}

#box-input-ecard #box-sender #sender-fields .form-control::-webkit-input-placeholder {
    color: #333333;
    opacity: .6;
}

/*receiver*/
#box-input-ecard #box-receiver {
    background-color: #FFFFFF;
    padding: 20px 30px;
    margin-left: -25px;
}

#box-input-ecard #box-receiver #send-to-title {
    clear: both;
    background-image: url("../img/dikirimuntuk-image.png");
    background-repeat: no-repeat;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    padding-top: 25px;
    padding-left: 25px;
    margin-left: -10px;
}

#box-input-ecard #box-receiver textarea {
    background-color: rgb(255, 243, 221);
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-top: 2px;
    font-size: 20px;
    font-weight: 100;
}

#box-input-ecard #box-receiver textarea::-moz-placeholder {
    color: #563413;
    opacity: .6;
}

#box-input-ecard #box-receiver textarea:-ms-input-placeholder {
    color: #563413;
    opacity: .6;
}

#box-input-ecard #box-receiver textarea::-webkit-input-placeholder {
    color: #563413;
    opacity: .6;
}

/* Ecards img */
#box-ecard-img #line-bottom {
    border-top: 2px dotted rgb(255, 196, 42);
    padding-top: 15px;
    padding-bottom: 15px;
}

#box-ecard-img #line-bottom #note {
    background-color: rgb(154, 227, 246);
    padding: 10px;
}

#box-ecard-img {
    overflow: hidden;
}

#box-ecard-img .row {
    margin-left: 0;
    margin-right: 0;
}

#box-ecard-img #ecard-selected {
    padding: 25px;
}

#box-ecard-img #ecard-selected {
    border-left: 2px dotted rgb(255, 196, 42);
}

#ecard-selected #loading-ecard {
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 100%;
    height: 100%;
}

#box-ecard-img #select-ecard-text {
    margin: 20px 5px 0 5px;
    font-size: 21px;
    font-weight: 600;
    line-height: 1.1;
    color: #563413;
}

#box-ecard-img #gelombang-ecard {
    background-image: url("../img/pattern-gelombang-ecard.png");
    background-repeat: repeat-x;
    width: 100%;
    height: 6px;
    position: relative;
    bottom: 0;
    margin: 10px 0 -15px -15px;
}

.wrapper-wave-ecard-field {
    padding-left: 5px;
    padding-right: 0;
}

#box-input-ecard #wave-yellow {
    background-image: url("../img/pattern-gelombang-yellow.png");
    background-repeat: repeat-x;
    width: 100%;
    height: 6px;
    position: relative;
    bottom: 1px;
    margin: 0 0 -15px -8px;
}

#box-input-ecard #wave-white {
    background-image: url("../img/pattern-gelombang-white.png");
    background-repeat: repeat-x;
    width: 100%;
    height: 6px;
    position: relative;
    bottom: 1px;
    margin: 0 -15px -15px -15px;
}

#wave-ecard-bottom {
    background-image: url("../img/pattern-gelombang-bottom.png");
    background-repeat: repeat-x;
    width: 100%;
    height: 5px;
    position: relative;
    bottom: -1px;
    margin-top: 3px;
    background-position-x: 30px;
}

#col-wave-yellow {
    padding-left: 23px;
}

@media (min-width: 768px) {
    #box-input-ecard #box-receiver #send-to-title {
        width: 123px;
        height: 103px;
    }

    #loading-ecard i {
        position: absolute;
        top: 47%;
        left: 47%;
    }
}

@media (max-width: 767px) {
    #col-wave-yellow {
        display: none;
    }

    #col-wave-white {
        padding-left: 30px;
    }

    #box-input-ecard #box-receiver {
        margin-left: 0;
    }

    #box-input-ecard #box-receiver #send-to-title {
        margin-left: 0;
        height: 110px;
    }

    #box-ecard-img #line-bottom {
        border-top: 0;
    }

    #box-ecard-img #ecard-selected {
        border-left: 0;
    }

    #box-ecard-img #line-bottom #note {
        margin-bottom: 15px;
    }

    #box-ecard-img #ecard-selected {
        padding: 0 20px;
    }

    #box-ecard-img #line-bottom {
        padding-left: 5px;
        padding-right: 5px;
    }

    #box-input-ecard #box-sender, #box-input-ecard #box-receiver {
        padding: 20px 20px;
    }

    #loading-ecard i {
        position: absolute;
        top: 45%;
        left: 46%;
    }
}

/* Slider thumbs */
#box-ecard-img .carousel .col-xs-6 {
    padding-left: 5px;
    padding-right: 5px;
}

#box-ecard-img .thumbnail {
    display: block;
    padding: 0;
    margin-bottom: 10px;
    line-height: 1.42857143;
    background-color: #fff;
    border: none;
    border-radius: 0;
}

.media-carousel {
    /*padding: 0 40px 30px 40px;*/
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Previous button  */
#control-slider {
    margin-top: 10px;
}

#control-slider .carousel-control {
    top: auto;
    /*bottom: 30px;*/
    opacity: 1;
}

#control-slider .carousel-control.left {
    left: 17px;
    background-image: none;
    background: none repeat scroll 0 0 rgb(255, 196, 42);
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width: 40px;
    margin-top: 30px
}

/* Next button  */
#control-slider .carousel-control.right {
    right: 17px !important;
    background-image: none;
    background: none repeat scroll 0 0 rgb(255, 196, 42);
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width: 40px;
    margin-top: 30px
}

/* Changes the position of the indicators */
.media-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}

/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li {
    background: #c0c0c0;
}

.media-carousel .carousel-indicators .active {
    background: #333333;
}

.media-carousel img {
    width: 250px;
    height: 100px
}

/* Finish step */
#box-finish {
    overflow: hidden;
    margin-bottom: 20px;
}

#box-finish #img-finish {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(114, 160, 72);
}

#box-finish #finish-note {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
}

#box-finish #finish-note #send-text {
    margin-top: 5px;
    color: rgb(112, 69, 24);
    font-size: 24px;
    font-weight: 200;
}

#box-finish #finish-note #product {
    color: rgb(112, 69, 24);
    font-size: 28px;
    font-weight: 700;
}

#box-finish #finish-note .line-text {
    border: 1px dotted rgb(112, 69, 24);
    opacity: .7;
}

#box-finish #finish-note #receiver {
    line-height: 1;
    padding: 10px;
    background-color: rgb(255, 246, 229);
    color: rgb(112, 69, 24);
    font-size: 40px;
    font-weight: 700;
    margin-top: 12px;
}

#finish-note .clearfix {
    margin: 30px 0;
}

@media (min-width: 992px) {
    #box-finish #finish-note #receiver {
        margin-left: -15px;
    }
}

@media (min-width: 768px) {
    #finish-note #arrow-receiver #bottom {
        display: none;
    }
}

@media (max-width: 767px) {
    #box-finish #finish-note #receiver {
        margin-left: 0;
    }

    #box-finish #finish-note {
        padding: 20px 30px;
    }

    #finish-note #arrow-receiver #top {
        display: none;
    }

    #finish-note .clearfix {
        margin: 10px 0;
    }

    #finish-note #arrow-receiver {
        text-align: center;
    }

    #box-finish #finish-note #receiver {
        line-height: 1;
        padding: 10px;
        background-color: rgb(255, 246, 229);
        color: rgb(112, 69, 24);
        font-size: 40px;
        font-weight: 700;
        margin-left: 0;
        margin-top: 5px;
    }
}

@media (max-width: 380px) {
    #box-input-ecard #box-sender .form-control, #box-input-ecard #box-receiver textarea {
        font-size: 15px;
    }
}

.manual .field {
    /*margin-top: 20px;*/
}

.manual .col-sm-4.col-sm-4-costume {
    width: 38%;
    padding-right: 8px;
    padding-left: 8px;
}

.manual .col-sm-3.col-sm-3-costume {
    width: 22%;
    padding-right: 0;
    padding-left: 8px;
}

.manual .field #line, #wrapper-connect #line {
    background-image: url("../img/pattern-gelombang-ecard.png");
    background-repeat: repeat-x;
    width: 100%;
    height: 6px;
    position: relative;
    bottom: 0;
}

.manual .col-sm-3 .btn-yellow {
    width: 100%;
}

.manual .field .col-sm-12.line {
    padding-left: 8px;
    padding-right: 18px;
    margin: 25px 0;
}

/* Verify */
.shadow-box {
    -webkit-box-shadow: -1px 1px 2px 0px rgba(102, 102, 102, 0.64);
    -moz-box-shadow: -1px 1px 2px 0px rgba(102, 102, 102, 0.64);
    box-shadow: -1px 1px 2px 0px rgba(102, 102, 102, 0.64);
}

#box-verify {
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 20px;
    color: rgb(112, 69, 24);
}

#box-verify .btn {
    width: 100%;
}

#box-verify .btn-red.md {
    height: 55px;
}

#box-verify #wave-line {
    background-image: url("../img/pattern-gelombang-ecard.png");
    background-repeat: repeat-x;
    width: 100%;
    height: 6px;
    position: relative;
    bottom: 0;
    margin: 15px 0 20px 0;
}

#box-verify #text-say-to-thanks {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.1;
}

#box-verify #voucher-get-text {
    width: 98%;
    margin-top: 22px;
    padding: 14px;
    font-size: 26px;
    font-weight: 600;
    line-height: 1.1;
    color: rgb(117, 70, 24);
}

#box-verify #arrow {
    position: absolute;
    right: 0;
    left: 190px;
    bottom: -35px;
}

@media (max-width: 767px) {
    #box-verify .btn {
        margin-top: 7px;
    }

    #say-to-thanks #text-thanks {
        text-align: center;
    }

    #say-to-thanks #thanks-arrow {
        display: none;
    }

    #box-verify #hand-img {
        margin-top: 15px;
    }
}

@media (max-width: 380px) {
    #box-verify #voucher-get-text, #box-verify .btn {
        font-size: 14px;
    }
}

.bg-gradient {
    background: rgba(241, 111, 92, 1);
    background: -moz-linear-gradient(left, rgba(241, 111, 92, 1) 0%, rgba(255, 241, 215, 1) 0%, rgba(255, 247, 234, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241, 111, 92, 1)), color-stop(0%, rgba(255, 241, 215, 1)), color-stop(100%, rgba(255, 247, 234, 1)));
    background: -webkit-linear-gradient(left, rgba(241, 111, 92, 1) 0%, rgba(255, 241, 215, 1) 0%, rgba(255, 247, 234, 1) 100%);
    background: -o-linear-gradient(left, rgba(241, 111, 92, 1) 0%, rgba(255, 241, 215, 1) 0%, rgba(255, 247, 234, 1) 100%);
    background: -ms-linear-gradient(left, rgba(241, 111, 92, 1) 0%, rgba(255, 241, 215, 1) 0%, rgba(255, 247, 234, 1) 100%);
    background: linear-gradient(to right, rgba(241, 111, 92, 1) 0%, rgba(255, 241, 215, 1) 0%, rgba(255, 247, 234, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f16f5c', endColorstr='#fff7ea', GradientType=1);
}

#box-verify #verify-arrow {
    position: absolute;
    top: 36px;
    right: -5px;
}

#box-verify #img-verify {
    margin-top: 15px;
    margin-left: 8px;
}

/* Thanks */
#box-thanks {
    color: rgb(117, 70, 24);
    margin-bottom: 30px;
    background-color: #fce449;
    border: 2px solid #fbd41d;
    overflow: hidden;
}

#box-thanks #from {
    /*margin-left: 15px;*/
    padding: 30px;
}

#box-thanks #from img {
    width: 90px;
}

#box-thanks #from #sender {
    font-size: 26px;
    font-weight: 600;
    margin-top: 20px;
    line-height: 1;
    text-transform: uppercase;
    /* text-align: left; */
    /* margin-left: 20px; */
}

#box-thanks #say-to-thanks {
    background-color: rgb(255, 255, 247);
    margin-left: -15px;
    padding-top: 40px;
    font-size: 30px;
    line-height: 1.2;
}

#box-thanks #img-hand {

}

#box-thanks #say-to-thanks img#img-to {
    width: 90px;
}

#box-thanks #say-to-thanks #to {
    text-transform: uppercase;
    padding: 8px;
    margin-top: 7px;
    font-size: 30px;
    font-weight: 600;
}

#box-thanks #want-to-follow {
    border-top: 2px dotted #fbd41d;
    margin-top: 35px;
    margin-bottom: 15px;
    padding-top: 22px;
}

#box-thanks #thanks-arrow {
    position: absolute;
    top: 70px;
    right: -5px;
}

.light-text {
    font-weight: 200;
}

.bolder-text {
    font-weight: 600;
}

.flash-error {
    text-transform: uppercase;
    font-family: "AgroCondensed";
    color: #900;
    font-size: 28px;
    text-align: center;
    padding: 20px;
    margin-bottom: 0;
}

#wrapper-connect {
    padding: 20px;
}

#wrapper-connect #text {
    font-size: 36px;
    color: rgb(117, 70, 24);
    line-height: 1;
    padding: 36px 0 0 50px;
}

#wrapper-connect #line {
    margin: 20px 0;
}

#wrapper-connect #you-get {
    font-weight: 200;
}

#wrapper-connect .voucher-bukaan {
    font-size: 40px;
    font-weight: 700;
}

#wrapper-connect #arrow-side {
    position: absolute;
    right: -30px;
    bottom: 35px;
}

@media (min-width: 768px) {
    #wrapper-connect #arrow-bottom {
        display: none;
    }
}

@media (min-width: 992px) {
    .col-xs-3-custome {
        width: 28.5%;
    }

    .col-xs-3-custome2 {
        width: 14%;
    }
}

@media (max-width: 1024px) {
    #wrapper-connect #text {
        font-size: 28px;
        padding: 0 20px;
    }

    #wrapper-connect .voucher-bukaan {
        font-size: 32px;
    }
}

@media (max-width: 480px) {
    #wrapper-connect #text {
        font-size: 24px;
    }

    #wrapper-connect .voucher-bukaan {
        font-size: 28px;
    }
}

@media (max-width: 340px) {
    .input-group-xlg > .form-control, .input-group-xlg > .input-group-addon, .input-group-xlg > .input-group-btn > .btn {
        height: 46px;
        padding: 8px 12px;
        font-size: 16px;
    }
}

@media (max-width: 319px) {
    .form-control.light-blue, #box-input-ecard #box-sender #sender-fields .form-control {
        font-size: 12px;
    }

    .col-max-320 {
        padding: 0;
    }

    #wrapper-send-to #send-to-text {
        margin-top: -8px;
        margin-left: -18px;
    }

    #box-email-to-friend #fields {
        padding: 20px 35px 20px 35px;
    }
}

@media (max-width: 767px) {
    #wrapper-connect #text {
        margin-bottom: 55px;
        text-align: center;
    }

    #wrapper-connect #arrow-side {
        display: none;
    }

    #wrapper-connect #arrow-bottom {
        position: absolute;
        left: 50%;
    }
}

@media (max-width: 992px) {
    #mechanism #mechanism-img {
        background: #fcc92d url("../img/mekanisme-horizontal-image.png") no-repeat -50px -10px;
        width: 100%;
        height: 100px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    #mechanism #mechanism-txt {
        padding: 20px 20px 20px 0;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        background-image: url("");
        background-color: #fff;
        height: auto;
        width: 100%;
    }

    #mechanism #mechanism-right-corner {
        display: none;
    }

}
