@import "../bootstrap/variables.less";
@import "../bootstrap/mixins.less";
@import "../vendor/bootstrap-social.less";

@color-0: #999999;
@color-50: #999999;
@color-100: #625555;
@color-150: #b11c23;
@color-200: #c12f2c;
@color-300: #ff9933;
h1,h2,h3,h4,h5{font-weight: normal}
.discount-0 {color: @color-0}
.discount-50 {color: @color-50}
.discount-100 {color: @color-100}
.discount-150 {color: @color-150}
.discount-200 {color: @color-200}
.discount-300 {color: @color-300}
.el {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

.up {
  text-transform: uppercase;
}

.theme-facebook {
  color: #395897
}

.theme-twitter {
  color: #28a8e1
}

.mb {
  margin-bottom: 20px
}

.pad {
  padding: 20px
}

.page-title {
  margin-bottom: 20px
}

.tooltip {
  font-family: "Oswald";
}

.btn.btn-metro {
  text-transform: uppercase;
  font-weight: normal;
  background-color: #fff;
  color: #111;
  font-family: "Oswald";
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 8px;
  letter-spacing: 0px;
  color: #fff;
  border: 0 none;

  &.btn-primary {
    font-size: 1.8em;
    @media (max-width: @screen-xs-max) {
      font-size: 1.2em;
      line-height: 1.8em;
    }

    background-color: #b11c23;
    opacity: .9;
    &:hover {
      opacity: 1;
    }
  }

  &.btn-dust {
    background: #b11c23 url('../skins/btn-dust.png') no-repeat left bottom  ;
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &.btn-sm {
    font-size: 1em;
    border-radius: 4px;
  }

  &.btn-arrow {
    width: 110px;
    height: 82px;
    background: transparent url("../skins/btn-more.png") no-repeat;
    text-indent: -99999px;

    &.btn-arrow-dark {
      background-image: url("../skins/btn-more-dark.png");
    }
    &.loading {
        background-image: url("../skins/ajax-loader.gif");
        background-position: center center;
    }
  }
  &.btn-secondary {
    background-color: #999;
  }
  &.btn-selection {
    border: 2px solid #999;
    width: 20px;
    height: 20px;
    padding: 0;
    background-color: transparent;
    font-size: .8em;
    border-radius: 100px;
    text-indent: -9999px;
    &.selected {
      background-color: #ff9933;
    }
  }
}

.viewport {
  background-color: #c3bdae;
  max-width: 810px;
  margin: 0 auto;
}

#page-home {
  .big-screen {
    height: 400px;
    background: #eeeeee url('../skins/bg-city-view.png') center center no-repeat;
  }
}

#page-gate {
  padding-bottom: 40px;
  .headline{
    min-height: 360px;
    background: #373b40 url('../skins/pattern-dark.png') center center repeat ;
  }
  .description {
    padding: 20px 0;
    text-transform: uppercase;
    padding: 10px 20px 30px;
  }
  .box-like {
    width: 419px;
    height: 59px;
    padding-top: 20px;
    margin: 0 auto;
    background: transparent url('../skins/arrow.png') center no-repeat;
    .button {
      position: relative;
      margin-left: -60px;
    }
  }
}

#page-voucher {
  .headline {
    background: #373b40 url('../skins/pattern-dark.png') center center repeat;
    padding: 40px 20px;
    .caption {
      color: #333;
    }
  }
  .welcome {
    padding: 20px 0;
  }
  .btn-group-sort {
    margin-top: 20px;
    font-family: "Oswald";
    text-transform: uppercase;
    border-radius: 8px;
    color: #999;
    border: 0 none;
    button {
      text-transform: uppercase;
      padding: 10px;
      color: #999;
    }
    .btn-text {
      border:0 none;
      border-bottom-left-radius: 8px;
      border-top-left-radius: 8px;
      padding-left: 20px;
      padding-right: 20px;
    }
    .btn-caret {
      border:0 none;
      border-left: 2px solid #ccc;
      border-bottom-right-radius: 8px;
      border-top-right-radius: 8px;
    }
  }
  .title {
    text-transform: uppercase;
    font-family: "Oswald";
    font-weight: 400;
    font-size: 5em;
    .empty {font-size: .7em}
    .count {
      color: #b11c23;
      display: inline-block;
    }
    img {
      position: relative;
      margin-top: -15px;
      margin-left: -15px;
    }
    margin-bottom: 30px;
  }
  .form-search-voucher {
    margin-top: 20px;
    background: #fff;
    border: 0 none;
    border-radius: 8px;
    padding: 0px 10px 7px;
    .inner {
      border-bottom: 2px dotted #ccc;
      padding: 0;
    }
    .input {
      border-radius: 8px;
      padding-left: 10px;
      font-family: "Oswald";
      text-transform: uppercase;
      border: 0 none;
      box-shadow: none;
      padding-bottom: 0;
    }
    .icon-search {
      color: #999;
    }
  }
}

#page-voucher-pick {
  .headline {
    background: #373b40 url('../skins/pattern-dark.png') center center repeat;
    padding: 40px 20px;
  }
  .item-big {
    text-align: center;
    font-family: "Oswald";
    margin-bottom: 30px;
    .voucher {
      border-radius: 8px;
      background-color: #fff;
      margin-bottom: 10px;
    }

    .head {
      background-color: @color-50;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      padding: 20px 15px;
      color: #333;
      text-transform: uppercase;
      font-size: 2.2em;
      letter-spacing: -0.5px;

      .arrow {
        position: absolute;
        width: 80px;
        margin-top: -15px;
        margin-left: 10px;
      }
    }
    .text {
      padding: 20px;
      text-transform: uppercase;
      font-size: 1.1em;
      color: #333;
      background-color: #eee;

      .name {
        color: #b11c23
      }
    }

    .discount {
      font-family: "Montserrat";
      text-transform: uppercase;
      padding: 20px 10px;

      .rp {
        margin-top: -45px;
        margin-bottom: 30px;
      }

      .nominal {
        font-size: 7.3em;
        letter-spacing: -8px;
        line-height: .7em;
        width: 210px;
        margin: 0 auto;
        .img-avatar {
          width: 70px;
          position: absolute;
          border: 10px solid @color-50;
          margin-left: 94px;
        }
        .dummy {
          color: transparent
        }
      }
      .unit {
        font-size: 3em;
        color: #373b40;
      }
    }

    .share {
      border-top: 2px solid #ddd;
      padding: 15px;
      color: #111;
      line-height: .7px;
    }

    .discount-0 {
      .head {
        background-color: @color-0;
        color: @color-100;
      }

      .discount {
        .nominal {
          .img-avatar {
            border-color: @color-0;
            margin-left: 59px;
          }
        }
      }
    }

    .discount-100 {
      .head {
        background-color: @color-100;
        color: @color-0;
      }

      .discount {
        .nominal {
          .img-avatar {
            border-color: @color-100;
            margin-left: 107px;
          }
        }
      }
    }

    .discount-150 {
      .head {
        background-color: @color-150;
      }

      .discount {
        .nominal {
          .img-avatar {
            border-color: @color-150;
            margin-left: 105px;
          }
        }
      }
    }

    .discount-200 {
      .head {
        background-color: @color-200;
        color: @color-300;
      }

      .discount {
        .nominal {
          .img-avatar {
            border-color: @color-200;
            margin-left: 116px;
          }
        }
      }
    }
    .discount-300 {
      .head {
        background-color: @color-300;
      }

      .discount {
        .nominal {
          .img-avatar {
            border-color: @color-300;
            margin-left: 116px;
          }
        }
      }
    }
  }
}

#page-voucher-exceeded {
  padding: 50px;
  background-color: #f8f8f8;
}

.section-tile {
  padding: 20px;
  background: #dedede url("../skins/tile.png") center repeat;
}

.voucher-list {
  .item {
    border-radius: 4px;
    height: 130px;
    padding: 0;
    overflow: hidden;
    margin-bottom: 15px;
    background: #fff;

    table {width: 100%}
    td.discount {
      width: 100px;
      min-width: 100px;
      height: 130px;
      border-right: 2px solid #ddd;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 2.4em;
      .nominal {
        font-family: "Montserrat";
        font-size: 3.1em;
        letter-spacing: -2.5px;
        .dummy{
          color: transparent;
        }
      }
      .unit {
        font-size: 2em;
        color: #373b40;
      }
      .img-avatar {
        border: 6px solid #fff;
        width: 32px;
        position: absolute;
        margin-left: 44px;
        margin-top: 0px;
        &.discount-0 {
          border-color: @color-0;
          margin-left: 30px;
        }
        &.discount-50 {
          border-color: @color-50;
        }
        &.discount-100 {
          border-color: @color-100;
          margin-left: 57px;
        }
        &.discount-150 {
          border-color: @color-150;
          margin-left: 56px;
        }
        &.discount-200 {
          border-color: @color-200;
          margin-left: 62px;
        }
        &.discount-300 {
          border-color: @color-300;
          margin-left: 62px;
        }
      }
    }

    .friend, .user, .date {
      padding: 5px 7px;
    }
    .friend, .user{
      .img-avatar{float: left}
      border-bottom: 2px solid #ddd;
    }
    .friend, .date{
      color: #aaa;
    }
    .friend {
      font-family: "Bad Script"; font-size: 1.25em; color: #111;
      width: 127px;
      text-align: center;
      @media (max-width: @screen-sm-max) {
        width: 320px;
        text-align: left;
        padding-left: 15px;
      }
      @media (max-width: @screen-xs-max) {
        width: 220px;
        text-align: left;
        padding-left: 15px;
      }
    }
    .date {font-family: 'Oswald'; font-size: .9em; letter-spacing: 1px;font-weight: 300}
    .user {
      height: 65px;
      padding-left: 10px;
      padding-top: 7px;
      strong {
        font-weight: normal;
        text-transform: uppercase;
        font-family: 'Oswald';
        font-size: 10px;
        display: block;
        margin-bottom: 7px;
      }
      .name {
        margin-top:0px;color: #999;font-family: "Bad Script";
        width: 110px;
        line-height: 26px;
        @media (max-width: @screen-xs-max) {
          width: 200px;
        }
      }
      .img-avatar {margin-right: 5px;}
    }
    .img-avatar {
      width: 27px;
    }

  }
}

.modal-header {
  .title {
    text-transform: uppercase;
  }
}

.modal-footer {
  text-align: center;
  &.empty {
    padding: 0;
    height: 27px;
  }
}

.modal-friends {
  .modal-header {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-top: 10px;
    padding-bottom: 20px;
    background: #dedede url("../skins/tile.png") center repeat;
    .title {
      font-family: "Oswald";
      font-size: 1.2em;
      color: #373b40;
      letter-spacing: -0.5px;
    }
    .btn-close {
      text-transform: uppercase;
      font-family: "Oswald";
      color: #444;
      position: absolute;
      right: 10px;
      @media (max-width: @screen-xs-max) {
        position: inherit;
      }
    }
  }
  .modal-body {
    padding-left: 0px;
    padding-right: 0px;
  }
  .selected-friends {
    margin-top: -40px;
    margin-bottom: 10px;
    .items {
      margin: auto;
      .item {
        display: inline-block;
        margin: 10px;
        width: 80px;
        .name {
          font-family: "Oswald";
          font-size: .85em;
          text-transform: uppercase;
          letter-spacing: -0.5px;
          color: #333;
          border-bottom: 2px dotted #999;
          padding: 0 5px 3px;
          margin-bottom: 0;
        }
        .avatar {
          width: 70px;
        }
        .btn-remove-friend {
          font-family: "Oswald";
          text-transform: uppercase;
          color: #999;
          font-size: .85em;
        }
      }

    }
  }
  .form-selected-friends {
    .next {
      text-align: center;
      padding-top: 50px;
      @media (max-width: @screen-sm-max) {
        padding-top: 0;
      }
    }
    .btn-cancel {
      margin-top: 10px;
    }
  }
  .section-friends {
    .items {
      transition: opacity .25s ease-in-out;
      -moz-transition: opacity .25s ease-in-out;
      -webkit-transition: opacity .25s ease-in-out;
      &:first-child{
        border-top: 2px solid #ccc;
      }
      .item {
        border: 2px solid #ccc;
        border-top: 0 none;
        top: 0 none;
        height: 100px;
        padding: 10px;
        vertical-align: middle;
        cursor: pointer;
        &:nth-child(even) {
          border-left: 0 none;
        }
        .img-avatar {width: 70px}
        .action {
          width: 70px;
          text-align: center;
        }
        .avatar {
          width: 90px;
        }
        .name {
          width: 160px;
          color: #333;
          text-transform: uppercase;
          font-family: "Oswald";
          font-weight: normal;
          letter-spacing: -0.5px;
          font-size: 1.1em;
        }
        &.used {
          .name {
            color: #ccc;
          }
          .img-avatar {
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            filter: grayscale(100%);
          }
          .btn-selection {
            border-color: #eee;
          }
        }
      }
    }
    .empty {
      font-family: "Oswald";
      font-size: 1.5em;
      color: #999;
      margin-top: 100px;
    }
  }
}

.modal-voucher {
  .modal-dialog {
    max-width: 552px;
  }
  .voucher-container {
  }
  .modal-body {
    padding: 0;
  }
}

header {
  background-color: #fff;
  .navbar {
    margin-bottom: 0;
    min-height: 30px;
    .navbar-toggle {
      border: 1px solid #999;
      .icon-bar {
        background-color: #999;
      }
    }
    .navbar-collapse {
      // padding-left: 0;
      // padding-right: 0;
    }
  }

  .menu {
    margin-top: 2px;
    li {
      text-align: center;
    }
    a {
      font-size: @font-size-small;
      padding: 5px;
      color: #000;
    }
  }
}

footer {
  background-color: #fff;
  font-size: @font-size-small;
  a, a:hover {
    color: #000;
    text-decoration: none;
  }
  .pattern {
    height: 61px;
    background: transparent url('../skins/pattern.png') repeat-x;
  }
  .links {
    padding: 10px 0;
    .copyright {
      text-align: right;
    }
    @media (max-width: @screen-xs-max) {
      text-align: center;
      .copyright {
        text-align: center;
      }
    }
  }
}

.right-inner-addon {
  position: relative;
}

.right-inner-addon input {
  padding-right: 30px;
}

.right-inner-addon i {
  position: absolute;
  right: 0px;
  padding: 10px 12px;
  pointer-events: none;
}

.form-search-friends {
  margin: 10px 0;
  .input {
    border-radius: 20px;
    background-color: #eee;
    &:focus {
      background-color: #fff;
    }
  }
  .icon-loading {
    display: none
  }
  .icon-search {
    display: inherit;
  }
  &.loading {
    .icon-loading {
      display: inherit;
    }
    .icon-search {
      display: none;
    }
  }
}
.modal-token-exceeded {
  .modal-content {
    background: #dedede url("../skins/tile.png") center repeat;
    .modal-body {
      padding-top: 50px;

      .counter {
        text-align: center;
        margin: 30px 0;
        font-family: "Oswald";
        text-transform: uppercase;
        font-size: 1.5em;
        color: #fff;
        span {
          font-size: 1.5em;
          color: #4f4444;
        }
      }
    }
  }
}

.modal-loading-selection {
  .modal-header {
    height: 60px;
    img {
      position: absolute;
      margin-left: -70px;
      margin-top: -7px;
    }
  }
  .title {
    font-family: "Oswald";
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: -0.5px;
    padding: 20px 10px 10px;
    color: #666;
    font-size: 1.5em;
  }
  .friends {
    margin-top: -30px;
    margin-bottom: 80px;
    text-align: center;
    .img-avatar {
      width: 45px;
      display: inline-block;
      margin: 0 5px;
    }
  }
}

.progress-timer {
  -webkit-transition: width 10s ease-in-out;
  -moz-transition: width 10s ease-in-out;
  -ms-transition: width 10s ease-in-out;
  -o-transition: width 10s ease-in-out;
  transition: width 10s ease-in-out;
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 1.2em;
  line-height: 1.8em;
}
