/*
 * Social Buttons for Bootstrap
 *
 * Copyright 2013-2014 Panayiotis Lipiridis
 * Licensed under the MIT License
 *
 * https://github.com/lipis/bootstrap-social
 */
.btn-social {
  position: relative;
  padding-left: 42px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn-social :first-child {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 30px;
  line-height: 32px;
  font-size: 1.6em;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.btn-social.btn-lg {
  padding-left: 60px;
}
.btn-social.btn-lg :first-child {
  line-height: 44px;
  width: 44px;
  font-size: 1.8em;
}
.btn-social.btn-sm {
  padding-left: 36px;
}
.btn-social.btn-sm :first-child {
  line-height: 26px;
  width: 26px;
  font-size: 1.4em;
}
.btn-social.btn-xs {
  padding-left: 29px;
}
.btn-social.btn-xs :first-child {
  line-height: 19px;
  width: 19px;
  font-size: 1.2em;
}
.btn-social-icon {
  position: relative;
  padding-left: 42px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 32px;
  width: 32px;
  padding: 0;
}
.btn-social-icon :first-child {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 30px;
  line-height: 32px;
  font-size: 1.6em;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.btn-social-icon.btn-lg {
  padding-left: 60px;
}
.btn-social-icon.btn-lg :first-child {
  line-height: 44px;
  width: 44px;
  font-size: 1.8em;
}
.btn-social-icon.btn-sm {
  padding-left: 36px;
}
.btn-social-icon.btn-sm :first-child {
  line-height: 26px;
  width: 26px;
  font-size: 1.4em;
}
.btn-social-icon.btn-xs {
  padding-left: 29px;
}
.btn-social-icon.btn-xs :first-child {
  line-height: 19px;
  width: 19px;
  font-size: 1.2em;
}
.btn-social-icon :first-child {
  border: none;
  text-align: center;
  width: 100%!important;
}
.btn-social-icon.btn-lg {
  height: 44px;
  width: 44px;
  padding-left: 0;
  padding-right: 0;
}
.btn-social-icon.btn-sm {
  height: 28px;
  width: 28px;
  padding-left: 0;
  padding-right: 0;
}
.btn-social-icon.btn-xs {
  height: 21px;
  width: 21px;
  padding-left: 0;
  padding-right: 0;
}
.btn-adn {
  color: #ffffff;
  background-color: #d87a68;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-adn:hover,
.btn-adn:focus,
.btn-adn:active,
.btn-adn.active,
.open > .dropdown-toggle.btn-adn {
  color: #ffffff;
  background-color: #d36854;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-adn:active,
.btn-adn.active,
.open > .dropdown-toggle.btn-adn {
  background-image: none;
}
.btn-adn.disabled,
.btn-adn[disabled],
fieldset[disabled] .btn-adn,
.btn-adn.disabled:hover,
.btn-adn[disabled]:hover,
fieldset[disabled] .btn-adn:hover,
.btn-adn.disabled:focus,
.btn-adn[disabled]:focus,
fieldset[disabled] .btn-adn:focus,
.btn-adn.disabled:active,
.btn-adn[disabled]:active,
fieldset[disabled] .btn-adn:active,
.btn-adn.disabled.active,
.btn-adn[disabled].active,
fieldset[disabled] .btn-adn.active {
  background-color: #d87a68;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-adn .badge {
  color: #d87a68;
  background-color: #ffffff;
}
.btn-bitbucket {
  color: #ffffff;
  background-color: #205081;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-bitbucket:hover,
.btn-bitbucket:focus,
.btn-bitbucket:active,
.btn-bitbucket.active,
.open > .dropdown-toggle.btn-bitbucket {
  color: #ffffff;
  background-color: #1b436d;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-bitbucket:active,
.btn-bitbucket.active,
.open > .dropdown-toggle.btn-bitbucket {
  background-image: none;
}
.btn-bitbucket.disabled,
.btn-bitbucket[disabled],
fieldset[disabled] .btn-bitbucket,
.btn-bitbucket.disabled:hover,
.btn-bitbucket[disabled]:hover,
fieldset[disabled] .btn-bitbucket:hover,
.btn-bitbucket.disabled:focus,
.btn-bitbucket[disabled]:focus,
fieldset[disabled] .btn-bitbucket:focus,
.btn-bitbucket.disabled:active,
.btn-bitbucket[disabled]:active,
fieldset[disabled] .btn-bitbucket:active,
.btn-bitbucket.disabled.active,
.btn-bitbucket[disabled].active,
fieldset[disabled] .btn-bitbucket.active {
  background-color: #205081;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-bitbucket .badge {
  color: #205081;
  background-color: #ffffff;
}
.btn-dropbox {
  color: #ffffff;
  background-color: #1087dd;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-dropbox:hover,
.btn-dropbox:focus,
.btn-dropbox:active,
.btn-dropbox.active,
.open > .dropdown-toggle.btn-dropbox {
  color: #ffffff;
  background-color: #0e78c5;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-dropbox:active,
.btn-dropbox.active,
.open > .dropdown-toggle.btn-dropbox {
  background-image: none;
}
.btn-dropbox.disabled,
.btn-dropbox[disabled],
fieldset[disabled] .btn-dropbox,
.btn-dropbox.disabled:hover,
.btn-dropbox[disabled]:hover,
fieldset[disabled] .btn-dropbox:hover,
.btn-dropbox.disabled:focus,
.btn-dropbox[disabled]:focus,
fieldset[disabled] .btn-dropbox:focus,
.btn-dropbox.disabled:active,
.btn-dropbox[disabled]:active,
fieldset[disabled] .btn-dropbox:active,
.btn-dropbox.disabled.active,
.btn-dropbox[disabled].active,
fieldset[disabled] .btn-dropbox.active {
  background-color: #1087dd;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-dropbox .badge {
  color: #1087dd;
  background-color: #ffffff;
}
.btn-facebook {
  color: #ffffff;
  background-color: #3b5998;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active,
.open > .dropdown-toggle.btn-facebook {
  color: #ffffff;
  background-color: #344e86;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-facebook:active,
.btn-facebook.active,
.open > .dropdown-toggle.btn-facebook {
  background-image: none;
}
.btn-facebook.disabled,
.btn-facebook[disabled],
fieldset[disabled] .btn-facebook,
.btn-facebook.disabled:hover,
.btn-facebook[disabled]:hover,
fieldset[disabled] .btn-facebook:hover,
.btn-facebook.disabled:focus,
.btn-facebook[disabled]:focus,
fieldset[disabled] .btn-facebook:focus,
.btn-facebook.disabled:active,
.btn-facebook[disabled]:active,
fieldset[disabled] .btn-facebook:active,
.btn-facebook.disabled.active,
.btn-facebook[disabled].active,
fieldset[disabled] .btn-facebook.active {
  background-color: #3b5998;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-facebook .badge {
  color: #3b5998;
  background-color: #ffffff;
}
.btn-flickr {
  color: #ffffff;
  background-color: #ff0084;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-flickr:hover,
.btn-flickr:focus,
.btn-flickr:active,
.btn-flickr.active,
.open > .dropdown-toggle.btn-flickr {
  color: #ffffff;
  background-color: #e60077;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-flickr:active,
.btn-flickr.active,
.open > .dropdown-toggle.btn-flickr {
  background-image: none;
}
.btn-flickr.disabled,
.btn-flickr[disabled],
fieldset[disabled] .btn-flickr,
.btn-flickr.disabled:hover,
.btn-flickr[disabled]:hover,
fieldset[disabled] .btn-flickr:hover,
.btn-flickr.disabled:focus,
.btn-flickr[disabled]:focus,
fieldset[disabled] .btn-flickr:focus,
.btn-flickr.disabled:active,
.btn-flickr[disabled]:active,
fieldset[disabled] .btn-flickr:active,
.btn-flickr.disabled.active,
.btn-flickr[disabled].active,
fieldset[disabled] .btn-flickr.active {
  background-color: #ff0084;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-flickr .badge {
  color: #ff0084;
  background-color: #ffffff;
}
.btn-foursquare {
  color: #ffffff;
  background-color: #0072b1;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-foursquare:hover,
.btn-foursquare:focus,
.btn-foursquare:active,
.btn-foursquare.active,
.open > .dropdown-toggle.btn-foursquare {
  color: #ffffff;
  background-color: #006298;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-foursquare:active,
.btn-foursquare.active,
.open > .dropdown-toggle.btn-foursquare {
  background-image: none;
}
.btn-foursquare.disabled,
.btn-foursquare[disabled],
fieldset[disabled] .btn-foursquare,
.btn-foursquare.disabled:hover,
.btn-foursquare[disabled]:hover,
fieldset[disabled] .btn-foursquare:hover,
.btn-foursquare.disabled:focus,
.btn-foursquare[disabled]:focus,
fieldset[disabled] .btn-foursquare:focus,
.btn-foursquare.disabled:active,
.btn-foursquare[disabled]:active,
fieldset[disabled] .btn-foursquare:active,
.btn-foursquare.disabled.active,
.btn-foursquare[disabled].active,
fieldset[disabled] .btn-foursquare.active {
  background-color: #0072b1;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-foursquare .badge {
  color: #0072b1;
  background-color: #ffffff;
}
.btn-github {
  color: #ffffff;
  background-color: #444444;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-github:hover,
.btn-github:focus,
.btn-github:active,
.btn-github.active,
.open > .dropdown-toggle.btn-github {
  color: #ffffff;
  background-color: #373737;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-github:active,
.btn-github.active,
.open > .dropdown-toggle.btn-github {
  background-image: none;
}
.btn-github.disabled,
.btn-github[disabled],
fieldset[disabled] .btn-github,
.btn-github.disabled:hover,
.btn-github[disabled]:hover,
fieldset[disabled] .btn-github:hover,
.btn-github.disabled:focus,
.btn-github[disabled]:focus,
fieldset[disabled] .btn-github:focus,
.btn-github.disabled:active,
.btn-github[disabled]:active,
fieldset[disabled] .btn-github:active,
.btn-github.disabled.active,
.btn-github[disabled].active,
fieldset[disabled] .btn-github.active {
  background-color: #444444;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-github .badge {
  color: #444444;
  background-color: #ffffff;
}
.btn-google-plus {
  color: #ffffff;
  background-color: #dd4b39;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-google-plus:hover,
.btn-google-plus:focus,
.btn-google-plus:active,
.btn-google-plus.active,
.open > .dropdown-toggle.btn-google-plus {
  color: #ffffff;
  background-color: #d73925;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-google-plus:active,
.btn-google-plus.active,
.open > .dropdown-toggle.btn-google-plus {
  background-image: none;
}
.btn-google-plus.disabled,
.btn-google-plus[disabled],
fieldset[disabled] .btn-google-plus,
.btn-google-plus.disabled:hover,
.btn-google-plus[disabled]:hover,
fieldset[disabled] .btn-google-plus:hover,
.btn-google-plus.disabled:focus,
.btn-google-plus[disabled]:focus,
fieldset[disabled] .btn-google-plus:focus,
.btn-google-plus.disabled:active,
.btn-google-plus[disabled]:active,
fieldset[disabled] .btn-google-plus:active,
.btn-google-plus.disabled.active,
.btn-google-plus[disabled].active,
fieldset[disabled] .btn-google-plus.active {
  background-color: #dd4b39;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-google-plus .badge {
  color: #dd4b39;
  background-color: #ffffff;
}
.btn-instagram {
  color: #ffffff;
  background-color: #3f729b;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-instagram:hover,
.btn-instagram:focus,
.btn-instagram:active,
.btn-instagram.active,
.open > .dropdown-toggle.btn-instagram {
  color: #ffffff;
  background-color: #386589;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-instagram:active,
.btn-instagram.active,
.open > .dropdown-toggle.btn-instagram {
  background-image: none;
}
.btn-instagram.disabled,
.btn-instagram[disabled],
fieldset[disabled] .btn-instagram,
.btn-instagram.disabled:hover,
.btn-instagram[disabled]:hover,
fieldset[disabled] .btn-instagram:hover,
.btn-instagram.disabled:focus,
.btn-instagram[disabled]:focus,
fieldset[disabled] .btn-instagram:focus,
.btn-instagram.disabled:active,
.btn-instagram[disabled]:active,
fieldset[disabled] .btn-instagram:active,
.btn-instagram.disabled.active,
.btn-instagram[disabled].active,
fieldset[disabled] .btn-instagram.active {
  background-color: #3f729b;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-instagram .badge {
  color: #3f729b;
  background-color: #ffffff;
}
.btn-linkedin {
  color: #ffffff;
  background-color: #007bb6;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-linkedin:hover,
.btn-linkedin:focus,
.btn-linkedin:active,
.btn-linkedin.active,
.open > .dropdown-toggle.btn-linkedin {
  color: #ffffff;
  background-color: #006a9d;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-linkedin:active,
.btn-linkedin.active,
.open > .dropdown-toggle.btn-linkedin {
  background-image: none;
}
.btn-linkedin.disabled,
.btn-linkedin[disabled],
fieldset[disabled] .btn-linkedin,
.btn-linkedin.disabled:hover,
.btn-linkedin[disabled]:hover,
fieldset[disabled] .btn-linkedin:hover,
.btn-linkedin.disabled:focus,
.btn-linkedin[disabled]:focus,
fieldset[disabled] .btn-linkedin:focus,
.btn-linkedin.disabled:active,
.btn-linkedin[disabled]:active,
fieldset[disabled] .btn-linkedin:active,
.btn-linkedin.disabled.active,
.btn-linkedin[disabled].active,
fieldset[disabled] .btn-linkedin.active {
  background-color: #007bb6;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-linkedin .badge {
  color: #007bb6;
  background-color: #ffffff;
}
.btn-microsoft {
  color: #ffffff;
  background-color: #2672ec;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-microsoft:hover,
.btn-microsoft:focus,
.btn-microsoft:active,
.btn-microsoft.active,
.open > .dropdown-toggle.btn-microsoft {
  color: #ffffff;
  background-color: #1464e4;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-microsoft:active,
.btn-microsoft.active,
.open > .dropdown-toggle.btn-microsoft {
  background-image: none;
}
.btn-microsoft.disabled,
.btn-microsoft[disabled],
fieldset[disabled] .btn-microsoft,
.btn-microsoft.disabled:hover,
.btn-microsoft[disabled]:hover,
fieldset[disabled] .btn-microsoft:hover,
.btn-microsoft.disabled:focus,
.btn-microsoft[disabled]:focus,
fieldset[disabled] .btn-microsoft:focus,
.btn-microsoft.disabled:active,
.btn-microsoft[disabled]:active,
fieldset[disabled] .btn-microsoft:active,
.btn-microsoft.disabled.active,
.btn-microsoft[disabled].active,
fieldset[disabled] .btn-microsoft.active {
  background-color: #2672ec;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-microsoft .badge {
  color: #2672ec;
  background-color: #ffffff;
}
.btn-openid {
  color: #ffffff;
  background-color: #f7931e;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-openid:hover,
.btn-openid:focus,
.btn-openid:active,
.btn-openid.active,
.open > .dropdown-toggle.btn-openid {
  color: #ffffff;
  background-color: #f38709;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-openid:active,
.btn-openid.active,
.open > .dropdown-toggle.btn-openid {
  background-image: none;
}
.btn-openid.disabled,
.btn-openid[disabled],
fieldset[disabled] .btn-openid,
.btn-openid.disabled:hover,
.btn-openid[disabled]:hover,
fieldset[disabled] .btn-openid:hover,
.btn-openid.disabled:focus,
.btn-openid[disabled]:focus,
fieldset[disabled] .btn-openid:focus,
.btn-openid.disabled:active,
.btn-openid[disabled]:active,
fieldset[disabled] .btn-openid:active,
.btn-openid.disabled.active,
.btn-openid[disabled].active,
fieldset[disabled] .btn-openid.active {
  background-color: #f7931e;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-openid .badge {
  color: #f7931e;
  background-color: #ffffff;
}
.btn-reddit {
  color: #000000;
  background-color: #eff7ff;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-reddit:hover,
.btn-reddit:focus,
.btn-reddit:active,
.btn-reddit.active,
.open > .dropdown-toggle.btn-reddit {
  color: #000000;
  background-color: #d6eaff;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-reddit:active,
.btn-reddit.active,
.open > .dropdown-toggle.btn-reddit {
  background-image: none;
}
.btn-reddit.disabled,
.btn-reddit[disabled],
fieldset[disabled] .btn-reddit,
.btn-reddit.disabled:hover,
.btn-reddit[disabled]:hover,
fieldset[disabled] .btn-reddit:hover,
.btn-reddit.disabled:focus,
.btn-reddit[disabled]:focus,
fieldset[disabled] .btn-reddit:focus,
.btn-reddit.disabled:active,
.btn-reddit[disabled]:active,
fieldset[disabled] .btn-reddit:active,
.btn-reddit.disabled.active,
.btn-reddit[disabled].active,
fieldset[disabled] .btn-reddit.active {
  background-color: #eff7ff;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-reddit .badge {
  color: #eff7ff;
  background-color: #000000;
}
.btn-soundcloud {
  color: #ffffff;
  background-color: #ff5500;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-soundcloud:hover,
.btn-soundcloud:focus,
.btn-soundcloud:active,
.btn-soundcloud.active,
.open > .dropdown-toggle.btn-soundcloud {
  color: #ffffff;
  background-color: #e64d00;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-soundcloud:active,
.btn-soundcloud.active,
.open > .dropdown-toggle.btn-soundcloud {
  background-image: none;
}
.btn-soundcloud.disabled,
.btn-soundcloud[disabled],
fieldset[disabled] .btn-soundcloud,
.btn-soundcloud.disabled:hover,
.btn-soundcloud[disabled]:hover,
fieldset[disabled] .btn-soundcloud:hover,
.btn-soundcloud.disabled:focus,
.btn-soundcloud[disabled]:focus,
fieldset[disabled] .btn-soundcloud:focus,
.btn-soundcloud.disabled:active,
.btn-soundcloud[disabled]:active,
fieldset[disabled] .btn-soundcloud:active,
.btn-soundcloud.disabled.active,
.btn-soundcloud[disabled].active,
fieldset[disabled] .btn-soundcloud.active {
  background-color: #ff5500;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-soundcloud .badge {
  color: #ff5500;
  background-color: #ffffff;
}
.btn-tumblr {
  color: #ffffff;
  background-color: #2c4762;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-tumblr:hover,
.btn-tumblr:focus,
.btn-tumblr:active,
.btn-tumblr.active,
.open > .dropdown-toggle.btn-tumblr {
  color: #ffffff;
  background-color: #243a50;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-tumblr:active,
.btn-tumblr.active,
.open > .dropdown-toggle.btn-tumblr {
  background-image: none;
}
.btn-tumblr.disabled,
.btn-tumblr[disabled],
fieldset[disabled] .btn-tumblr,
.btn-tumblr.disabled:hover,
.btn-tumblr[disabled]:hover,
fieldset[disabled] .btn-tumblr:hover,
.btn-tumblr.disabled:focus,
.btn-tumblr[disabled]:focus,
fieldset[disabled] .btn-tumblr:focus,
.btn-tumblr.disabled:active,
.btn-tumblr[disabled]:active,
fieldset[disabled] .btn-tumblr:active,
.btn-tumblr.disabled.active,
.btn-tumblr[disabled].active,
fieldset[disabled] .btn-tumblr.active {
  background-color: #2c4762;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-tumblr .badge {
  color: #2c4762;
  background-color: #ffffff;
}
.btn-twitter {
  color: #ffffff;
  background-color: #55acee;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active,
.btn-twitter.active,
.open > .dropdown-toggle.btn-twitter {
  color: #ffffff;
  background-color: #3ea1ec;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-twitter:active,
.btn-twitter.active,
.open > .dropdown-toggle.btn-twitter {
  background-image: none;
}
.btn-twitter.disabled,
.btn-twitter[disabled],
fieldset[disabled] .btn-twitter,
.btn-twitter.disabled:hover,
.btn-twitter[disabled]:hover,
fieldset[disabled] .btn-twitter:hover,
.btn-twitter.disabled:focus,
.btn-twitter[disabled]:focus,
fieldset[disabled] .btn-twitter:focus,
.btn-twitter.disabled:active,
.btn-twitter[disabled]:active,
fieldset[disabled] .btn-twitter:active,
.btn-twitter.disabled.active,
.btn-twitter[disabled].active,
fieldset[disabled] .btn-twitter.active {
  background-color: #55acee;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-twitter .badge {
  color: #55acee;
  background-color: #ffffff;
}
.btn-vimeo {
  color: #ffffff;
  background-color: #1ab7ea;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-vimeo:hover,
.btn-vimeo:focus,
.btn-vimeo:active,
.btn-vimeo.active,
.open > .dropdown-toggle.btn-vimeo {
  color: #ffffff;
  background-color: #14a7d7;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-vimeo:active,
.btn-vimeo.active,
.open > .dropdown-toggle.btn-vimeo {
  background-image: none;
}
.btn-vimeo.disabled,
.btn-vimeo[disabled],
fieldset[disabled] .btn-vimeo,
.btn-vimeo.disabled:hover,
.btn-vimeo[disabled]:hover,
fieldset[disabled] .btn-vimeo:hover,
.btn-vimeo.disabled:focus,
.btn-vimeo[disabled]:focus,
fieldset[disabled] .btn-vimeo:focus,
.btn-vimeo.disabled:active,
.btn-vimeo[disabled]:active,
fieldset[disabled] .btn-vimeo:active,
.btn-vimeo.disabled.active,
.btn-vimeo[disabled].active,
fieldset[disabled] .btn-vimeo.active {
  background-color: #1ab7ea;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-vimeo .badge {
  color: #1ab7ea;
  background-color: #ffffff;
}
.btn-vk {
  color: #ffffff;
  background-color: #587ea3;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-vk:hover,
.btn-vk:focus,
.btn-vk:active,
.btn-vk.active,
.open > .dropdown-toggle.btn-vk {
  color: #ffffff;
  background-color: #4f7192;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-vk:active,
.btn-vk.active,
.open > .dropdown-toggle.btn-vk {
  background-image: none;
}
.btn-vk.disabled,
.btn-vk[disabled],
fieldset[disabled] .btn-vk,
.btn-vk.disabled:hover,
.btn-vk[disabled]:hover,
fieldset[disabled] .btn-vk:hover,
.btn-vk.disabled:focus,
.btn-vk[disabled]:focus,
fieldset[disabled] .btn-vk:focus,
.btn-vk.disabled:active,
.btn-vk[disabled]:active,
fieldset[disabled] .btn-vk:active,
.btn-vk.disabled.active,
.btn-vk[disabled].active,
fieldset[disabled] .btn-vk.active {
  background-color: #587ea3;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-vk .badge {
  color: #587ea3;
  background-color: #ffffff;
}
.btn-yahoo {
  color: #ffffff;
  background-color: #720e9e;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-yahoo:hover,
.btn-yahoo:focus,
.btn-yahoo:active,
.btn-yahoo.active,
.open > .dropdown-toggle.btn-yahoo {
  color: #ffffff;
  background-color: #610c87;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-yahoo:active,
.btn-yahoo.active,
.open > .dropdown-toggle.btn-yahoo {
  background-image: none;
}
.btn-yahoo.disabled,
.btn-yahoo[disabled],
fieldset[disabled] .btn-yahoo,
.btn-yahoo.disabled:hover,
.btn-yahoo[disabled]:hover,
fieldset[disabled] .btn-yahoo:hover,
.btn-yahoo.disabled:focus,
.btn-yahoo[disabled]:focus,
fieldset[disabled] .btn-yahoo:focus,
.btn-yahoo.disabled:active,
.btn-yahoo[disabled]:active,
fieldset[disabled] .btn-yahoo:active,
.btn-yahoo.disabled.active,
.btn-yahoo[disabled].active,
fieldset[disabled] .btn-yahoo.active {
  background-color: #720e9e;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-yahoo .badge {
  color: #720e9e;
  background-color: #ffffff;
}
#page-login {
  margin-top: 50px;
}
#page-login .logo {
  margin-bottom: 40px;
}
#page-login .viewport {
  padding: 50px 0;
}
body.admin {
  padding-bottom: 50px;
}
body.admin header {
  margin-bottom: 100px;
}
body.admin header .navbar {
  padding: 20px 0;
  background-color: #fff;
  border-bottom: 1px solid #eeeeee;
}
body.admin header .navbar a {
  color: #000;
}
body.admin header .container-fluid {
  width: 810px;
}
@media (max-width: 991px) {
  body.admin header .pull-right {
    float: none !important;
  }
  body.admin header .container-fluid {
    width: 100%;
  }
}
body.admin h3.subtitle {
  font-size: 1em;
  font-weight: 700;
  padding: 10px 20px;
  text-transform: uppercase;
  background-color: #333;
  color: #fff;
}
body.admin .alert-top {
  position: relative;
  top: 70px;
}
body.admin .alert-top .container-fluid {
  width: 810px;
}
body.admin .table-hover .visible-hover {
  visibility: hidden;
}
body.admin .table-hover tr:hover .visible-hover {
  visibility: visible;
}
.discount-0 {
  color: #b11b24 !important;
}
.discount-1 {
  color: #b11b24 !important;
}
.discount-2 {
  color: #b11b24 !important;
}
.discount-3 {
  color: #b11b24 !important;
}
.discount-4 {
  color: #b11b24 !important;
}
.discount-5 {
  color: #b11b24 !important;
}
.discount-6 {
  color: #b11b24 !important;
}
.discount-7 {
  color: #b11b24 !important;
}
.discount-8 {
  color: #b11b24 !important;
}
.discount-9 {
  color: #b11b24 !important;
}
.discount-10 {
  color: #b11b24 !important;
}
.discount-11 {
  color: #0071ba !important;
}
.discount-12 {
  color: #0071ba !important;
}
.discount-13 {
  color: #0071ba !important;
}
.discount-14 {
  color: #0071ba !important;
}
.discount-15 {
  color: #0071ba !important;
}
.discount-16 {
  color: #0071ba !important;
}
.discount-17 {
  color: #0071ba !important;
}
.discount-18 {
  color: #0071ba !important;
}
.discount-19 {
  color: #0071ba !important;
}
.discount-20 {
  color: #0071ba !important;
}
.discount-21 {
  color: #fcbc49 !important;
}
.discount-22 {
  color: #fcbc49 !important;
}
.discount-23 {
  color: #fcbc49 !important;
}
.discount-24 {
  color: #fcbc49 !important;
}
.discount-25 {
  color: #fcbc49 !important;
}
.discount-26 {
  color: #fcbc49 !important;
}
.discount-27 {
  color: #fcbc49 !important;
}
.discount-28 {
  color: #fcbc49 !important;
}
.discount-29 {
  color: #fcbc49 !important;
}
.discount-30 {
  color: #fcbc49 !important;
}
.discount-31 {
  color: #fcbc49 !important;
}
.discount-32 {
  color: #fcbc49 !important;
}
.discount-33 {
  color: #fcbc49 !important;
}
.discount-34 {
  color: #fcbc49 !important;
}
.discount-35 {
  color: #fcbc49 !important;
}
.discount-36 {
  color: #fcbc49 !important;
}
.discount-37 {
  color: #fcbc49 !important;
}
.discount-38 {
  color: #fcbc49 !important;
}
.discount-39 {
  color: #fcbc49 !important;
}
.discount-40 {
  color: #fcbc49 !important;
}
.discount-41 {
  color: #fcbc49 !important;
}
.discount-42 {
  color: #fcbc49 !important;
}
.discount-43 {
  color: #fcbc49 !important;
}
.discount-44 {
  color: #fcbc49 !important;
}
.discount-45 {
  color: #fcbc49 !important;
}
.discount-46 {
  color: #fcbc49 !important;
}
.discount-47 {
  color: #fcbc49 !important;
}
.discount-48 {
  color: #fcbc49 !important;
}
.discount-49 {
  color: #fcbc49 !important;
}
.discount-50 {
  color: #fcbc49 !important;
}
.discount-51 {
  color: #fcbc49 !important;
}
.discount-52 {
  color: #fcbc49 !important;
}
.discount-53 {
  color: #fcbc49 !important;
}
.discount-54 {
  color: #fcbc49 !important;
}
.discount-55 {
  color: #fcbc49 !important;
}
.discount-56 {
  color: #fcbc49 !important;
}
.discount-57 {
  color: #fcbc49 !important;
}
.discount-58 {
  color: #fcbc49 !important;
}
.discount-59 {
  color: #fcbc49 !important;
}
.discount-60 {
  color: #fcbc49 !important;
}
.discount-61 {
  color: #fcbc49 !important;
}
.discount-62 {
  color: #fcbc49 !important;
}
.discount-63 {
  color: #fcbc49 !important;
}
.discount-64 {
  color: #fcbc49 !important;
}
.discount-65 {
  color: #fcbc49 !important;
}
.discount-66 {
  color: #fcbc49 !important;
}
.discount-67 {
  color: #fcbc49 !important;
}
.discount-68 {
  color: #fcbc49 !important;
}
.discount-69 {
  color: #fcbc49 !important;
}
.discount-70 {
  color: #fcbc49 !important;
}
.discount-71 {
  color: #fcbc49 !important;
}
.discount-72 {
  color: #fcbc49 !important;
}
.discount-73 {
  color: #fcbc49 !important;
}
.discount-74 {
  color: #fcbc49 !important;
}
.discount-75 {
  color: #fcbc49 !important;
}
.discount-76 {
  color: #fcbc49 !important;
}
.discount-77 {
  color: #fcbc49 !important;
}
.discount-78 {
  color: #fcbc49 !important;
}
.discount-79 {
  color: #fcbc49 !important;
}
.discount-80 {
  color: #fcbc49 !important;
}
.discount-81 {
  color: #fcbc49 !important;
}
.discount-82 {
  color: #fcbc49 !important;
}
.discount-83 {
  color: #fcbc49 !important;
}
.discount-84 {
  color: #fcbc49 !important;
}
.discount-85 {
  color: #fcbc49 !important;
}
.discount-86 {
  color: #fcbc49 !important;
}
.discount-87 {
  color: #fcbc49 !important;
}
.discount-88 {
  color: #fcbc49 !important;
}
.discount-89 {
  color: #fcbc49 !important;
}
.discount-90 {
  color: #fcbc49 !important;
}
.discount-91 {
  color: #fcbc49 !important;
}
.discount-92 {
  color: #fcbc49 !important;
}
.discount-93 {
  color: #fcbc49 !important;
}
.discount-94 {
  color: #fcbc49 !important;
}
.discount-95 {
  color: #fcbc49 !important;
}
.discount-96 {
  color: #fcbc49 !important;
}
.discount-97 {
  color: #fcbc49 !important;
}
.discount-98 {
  color: #fcbc49 !important;
}
.discount-99 {
  color: #fcbc49 !important;
}
.discount-100 {
  color: #fcbc49 !important;
}
.el {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}
.up {
  text-transform: uppercase;
}
.theme-facebook {
  color: #395897;
}
.theme-twitter {
  color: #28a8e1;
}
.mb {
  margin-bottom: 20px;
}
.pad {
  padding: 20px;
}
.page-title {
  margin-bottom: 20px;
}
.btn.btn-metro {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.3px;
}
.btn.btn-metro.btn-primary {
  border: 3px solid #000;
  box-shadow: 3px 3px 0 #999;
}
.btn.btn-metro.btn-secondary {
  border: 3px solid #999;
  color: #666;
  background-color: #fff;
  box-shadow: 3px 3px 0 #ddd;
}
.btn.btn-metro.btn-selection {
  border: 2px solid #999;
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: transparent;
  font-size: .8em;
  border-radius: 100px;
  text-indent: -9999px;
}
.btn.btn-metro.btn-selection.selected {
  background-color: #ff9933;
}
.btn.btn-metro.btn-cancel {
  font-size: .8em;
  color: #666;
}
.viewport {
  background-color: #fff;
  max-width: 810px;
  margin: 0 auto;
}
#page-home .big-screen {
  height: 400px;
  background: #eeeeee url('../skins/bg-city-view.png') center center no-repeat;
}
#page-voucher .big-screen {
  background: #eeeeee url('../skins/bg-city-view-plain.png') center center no-repeat;
}
#page-voucher .headline {
  padding: 40px 20px;
}
#page-voucher .headline .caption {
  color: #333;
}
#page-voucher .title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 30px;
}
#page-voucher .title span {
  color: #bb0000;
}
#page-voucher .section-voucher {
  margin-bottom: 30px;
}
#page-voucher-pick .header {
  margin: 20px 0 40px;
}
#page-voucher-pick .title {
  text-align: right;
}
@media (max-width: 767px) {
  #page-voucher-pick .title {
    text-align: center;
  }
}
#page-voucher-pick .after-pick {
  text-align: center;
  margin-bottom: 50px;
}
#page-voucher-exceeded {
  padding: 50px;
  background-color: #f8f8f8;
}
.headline {
  text-transform: uppercase;
  padding: 10px 20px 30px;
}
.headline .tagline {
  font-size: 2.6em;
  font-weight: 700;
  letter-spacing: 1px;
}
.headline .caption {
  font-weight: 700;
  font-size: 1.1em;
  line-height: 1.25em;
  color: #666;
}
.headline .caption span {
  font-weight: 300;
}
.voucher-list .item {
  border: 3px solid #fcbc49;
  height: 65px;
  padding: 10px 5px;
  overflow: hidden;
  margin-bottom: 15px;
}
.voucher-list .item .avatar {
  text-align: center;
}
.voucher-list .item .discount {
  padding-top: 5px;
  text-transform: uppercase;
  text-align: left;
  line-height: 14px;
  font-weight: 700;
}
.voucher-list .item .discount span {
  color: #C00;
  font-size: 1.8em;
}
.voucher-list .item .discount span small {
  font-weight: 300;
  font-size: .6em;
}
.voucher-list .item .desc {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 500;
  line-height: 13px;
  color: #666;
}
.voucher-list .item-big {
  padding: 15px;
  height: auto;
}
.voucher-list .item-big .avatar img {
  width: 128px;
}
.voucher-list .item-big .share span {
  color: #666666;
  font-size: .9em;
}
.voucher-list .item-big .action {
  text-align: right;
}
.voucher-list .item-big .action .redeem {
  margin-top: 40px;
}
.voucher-list .item-big .discount {
  padding-top: 10px;
  text-align: center;
  line-height: 3.8em;
}
.voucher-list .item-big .discount .off {
  color: #666666;
}
.voucher-list .item-big .discount .primary {
  font-size: 3.5em;
}
.voucher-list .item-big .discount .secondary {
  color: #333333;
  font-size: 2em;
  letter-spacing: 2.5px;
}
@media (max-width: 767px) {
  .voucher-list .item-big .avatar img {
    width: 100px;
  }
  .voucher-list .item-big .action {
    text-align: left;
  }
  .voucher-list .item-big .action .redeem {
    margin-top: 0px;
  }
  .voucher-list .item-big .action .share {
    position: absolute;
    top: 0;
    margin-top: -110px;
    right: 10px;
  }
  .voucher-list .item-big .discount {
    padding-top: 30px;
    text-align: left;
    line-height: 2.2em;
  }
  .voucher-list .item-big .discount .primary {
    font-size: 1.8em;
  }
  .voucher-list .item-big .discount .secondary {
    font-size: .9em;
    letter-spacing: 1px;
  }
}
.modal-header .title {
  text-transform: uppercase;
}
.modal-footer {
  text-align: center;
  background: transparent url('../skins/pattern-small.png') repeat-x left bottom;
  padding-bottom: 47px;
}
.modal-footer.empty {
  padding: 0;
  height: 27px;
}
.modal-friends .modal-body {
  background-color: #eeeeee;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
}
.modal-friends .selected-friends {
  margin-top: 20px;
  margin-bottom: 10px;
}
.modal-friends .selected-friends .items {
  border: 3px solid #fcbc49;
  width: 336px;
  margin: auto;
}
.modal-friends .selected-friends .items .item {
  display: inline-block;
  margin: 10px;
  width: 85px;
}
.modal-friends .selected-friends .items .item .name {
  color: #666666;
}
.modal-friends .selected-friends .items .item .avatar {
  width: 70px;
}
.modal-friends .form-selected-friends .next {
  text-align: center;
  padding-top: 50px;
}
@media (max-width: 991px) {
  .modal-friends .form-selected-friends .next {
    padding-top: 0;
  }
}
.modal-friends .form-selected-friends .btn-cancel {
  margin-top: 10px;
}
.modal-friends .section-friends .item .inner {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px dashed #ccc;
}
.modal-friends .section-friends .item .action {
  width: 70px;
  text-align: center;
}
.modal-friends .section-friends .item .avatar {
  width: 90px;
  padding: 0 10px;
}
.modal-friends .section-friends .item .name {
  width: 160px;
  text-transform: uppercase;
  color: #333;
  font-size: 1.1em;
}
.modal-voucher .modal-dialog {
  max-width: 552px;
}
.modal-voucher .modal-body {
  padding: 0;
}
header .navbar {
  margin-bottom: 0;
  min-height: 30px;
}
header .navbar .navbar-toggle {
  border: 1px solid #999;
}
header .navbar .navbar-toggle .icon-bar {
  background-color: #999;
}
header .menu {
  margin-top: 2px;
}
header .menu li {
  text-align: center;
}
header .menu a {
  font-size: 11px;
  padding: 5px;
  color: #000;
}
footer {
  font-size: 11px;
}
footer a {
  color: #000;
}
footer .pattern {
  height: 61px;
  background: transparent url('../skins/pattern.png') repeat-x;
}
footer .links {
  padding: 10px 0;
}
footer .links .copyright {
  text-align: right;
}
@media (max-width: 767px) {
  footer .links {
    text-align: center;
  }
  footer .links .copyright {
    text-align: center;
  }
}
.right-inner-addon {
  position: relative;
}
.right-inner-addon input {
  padding-right: 30px;
}
.right-inner-addon i {
  position: absolute;
  right: 0px;
  padding: 10px 12px;
  pointer-events: none;
}
.form-search-friends {
  margin-top: 20px;
}
.form-search-friends .input {
  border-radius: 20px;
  background-color: #eee;
}
.form-search-friends .input:focus {
  background-color: #fff;
}
.form-search-friends .icon-loading {
  display: none;
}
.form-search-friends .icon-search {
  display: inherit;
}
.form-search-friends.loading .icon-loading {
  display: inherit;
}
.form-search-friends.loading .icon-search {
  display: none;
}
