#page-login{
    margin-top: 50px;
    .logo{margin-bottom: 40px}
    .viewport{
        padding: 50px 0;
    }
}

body.admin{
    padding-bottom: 50px;
    header{
        margin-bottom: 100px;
        .navbar{
            padding: 20px 0;
            background-color: #fff;
            border-bottom: 1px solid @gray-lighter;
            a{
                color: #000;
            }
        }
        .container-fluid{
            width: 810px;
        }

        @media (max-width: @screen-sm-max) {
            .pull-right{
                float: none !important;
            }
            .container-fluid{
                width: 100%;
            }
        }

    }
    h3.subtitle{
        font-size: 1em;
        font-weight: 700;
        padding: 10px 20px;
        text-transform: uppercase;
        background-color: #333;
        color: #fff;
    }
    .alert-top{
        position: relative;
        top: 70px;
        .container-fluid{
            width: 810px;
        }
    }
  .table-hover{
    .visible-hover{
      visibility: hidden;
    }
    tr:hover{
      .visible-hover{
        visibility: visible;
      }
    }
  }
}