@import "../bootstrap/variables.less";
@import "../bootstrap/mixins.less";
@import "../vendor/bootstrap-social.less";
@import "admin.less";

.loop-discount (@start, @end, @color) when (@start <= @end) {
  .discount-@{start} {
    color: @color !important;
  }
  .loop-discount(@start + 1, @end, @color);
}

.loop-discount(0, 10, #b11b24);
.loop-discount(11, 20, @brand-primary);
.loop-discount(21, 100, #fcbc49);

.el {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

.up {
  text-transform: uppercase;
}

.theme-facebook {
  color: #395897
}

.theme-twitter {
  color: #28a8e1
}

.mb {
  margin-bottom: 20px
}

.pad {
  padding: 20px
}

.page-title {
  margin-bottom: 20px
}

.btn.btn-metro {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.3px;
  &.btn-primary {
    border: 3px solid #000;
    box-shadow: 3px 3px 0 #999;
  }
  &.btn-secondary {
    border: 3px solid #999;
    color: #666;
    background-color: #fff;
    box-shadow: 3px 3px 0 #ddd;
  }
  &.btn-selection {
    border: 2px solid #999;
    width: 20px;
    height: 20px;
    padding: 0;
    background-color: transparent;
    font-size: .8em;
    border-radius: 100px;
    text-indent: -9999px;
    &.selected {
      background-color: #ff9933;
    }
  }
  &.btn-cancel {
    font-size: .8em;
    color: #666;
  }
}

.viewport {
  background-color: #fff;
  max-width: 810px;
  margin: 0 auto;
}

#page-home {
  .big-screen {
    height: 400px;
    background: #eeeeee url('../skins/bg-city-view.png') center center no-repeat;
  }
}

#page-voucher {
  .big-screen {
    background: #eeeeee url('../skins/bg-city-view-plain.png') center center no-repeat;
  }
  .headline {
    padding: 40px 20px;
    .caption {
      color: #333;
    }
  }
  .title {
    text-transform: uppercase;
    span {
      color: #b00
    }
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  .section-voucher {
    margin-bottom: 30px;
  }
}

#page-voucher-pick {
  .header {
    margin: 20px 0 40px;
  }

  .title {
    text-align: right;
    @media (max-width: @screen-xs-max) {
      text-align: center;
    }
  }
  .after-pick {
    text-align: center;
    margin-bottom: 50px;
  }
}

#page-voucher-exceeded {
  padding: 50px;
  background-color: #f8f8f8;
}

.headline {
  text-transform: uppercase;
  padding: 10px 20px 30px;
  .tagline {
    font-size: 2.6em;
    font-weight: 700;
    letter-spacing: 1px;
  }
  .caption {
    font-weight: 700;
    font-size: 1.1em;
    line-height: 1.25em;
    color: #666;
    span {
      font-weight: 300;
    }
  }
}

.voucher-list {
  .item {
    border: 3px solid #fcbc49;
    height: 65px;
    padding: 10px 5px;
    overflow: hidden;
    margin-bottom: 15px;

    .avatar {
      text-align: center;
    }
    .discount {
      padding-top: 5px;
      text-transform: uppercase;
      text-align: left;
      line-height: 14px;
      font-weight: 700;
      span {
        color: #C00;
        font-size: 1.8em;
        small {
          font-weight: 300;
          font-size: .6em;
        }
      }
    }

    .desc {
      text-transform: uppercase;
      font-size: 10px;
      font-weight: 500;
      line-height: 13px;
      color: #666;
    }
  }

  .item-big {
    padding: 15px;
    height: auto;
    .avatar {
      img {
        width: 128px;
      }
    }
    .share {
      span {
        color: #666666;
        font-size: .9em;
      }
    }
    .action {
      text-align: right;
      .redeem {
        margin-top: 40px;
      }
    }
    .discount {
      padding-top: 10px;
      text-align: center;
      line-height: 3.8em;
      .off {
        color: #666666;
      }
      .primary {
        font-size: 3.5em;
      }
      .secondary {
        color: #333333;
        font-size: 2em;
        letter-spacing: 2.5px;
      }
    }
    @media (max-width: @screen-xs-max) {
      .avatar {
        img {
          width: 100px;
        }
      }

      .action {
        text-align: left;
        .redeem {
          margin-top: 0px;
        }
        .share {
          position: absolute;
          top: 0;
          margin-top: -110px;
          right: 10px;
        }
      }

      .discount {
        padding-top: 30px;
        text-align: left;
        line-height: 2.2em;
        .primary {
          font-size: 1.8em;
        }
        .secondary {
          font-size: .9em;
          letter-spacing: 1px;
        }
      }
    }

  }
}

.modal-header {
  .title {
    text-transform: uppercase;
  }
}

.modal-footer {
  text-align: center;
  background: transparent url('../skins/pattern-small.png') repeat-x left bottom;
  padding-bottom: 47px;
  &.empty {
    padding: 0;
    height: 27px;
  }
}

.modal-friends {
  .modal-body {
    background-color: #eeeeee;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
  }
  .selected-friends {
    margin-top: 20px;
    margin-bottom: 10px;
    .items {
      border: 3px solid #fcbc49;
      width: 336px;
      margin: auto;
      .item {
        display: inline-block;
        margin: 10px;
        width: 85px;
        .name {
          color: #666666;
        }
        .avatar {
          width: 70px;
        }
      }

    }
  }
  .form-selected-friends {
    .next {
      text-align: center;
      padding-top: 50px;
      @media (max-width: @screen-sm-max) {
        padding-top: 0;
      }
    }
    .btn-cancel {
      margin-top: 10px;
    }
  }
  .section-friends {
    .item {
      .inner {
        padding: 10px;
        margin-bottom: 10px;
        border: 1px dashed #ccc;
      }
      .action {
        width: 70px;
        text-align: center;
      }
      .avatar {
        width: 90px;
        padding: 0 10px;
      }
      .name {
        width: 160px;
        text-transform: uppercase;
        color: #333;
        font-size: 1.1em;
      }

    }
  }
}

.modal-voucher {
  .modal-dialog {
    max-width: 552px;
  }
  .voucher-container {
  }
  .modal-body {
    padding: 0;
  }
}

header {
  .navbar {
    margin-bottom: 0;
    min-height: 30px;
    .navbar-toggle {
      border: 1px solid #999;
      .icon-bar {
        background-color: #999;
      }
    }
    .navbar-collapse {
      // padding-left: 0;
      // padding-right: 0;
    }
  }

  .menu {
    margin-top: 2px;
    li {
      text-align: center;
    }
    a {
      font-size: @font-size-small;
      padding: 5px;
      color: #000;
    }
  }
}

footer {
  font-size: @font-size-small;
  a {
    color: #000;
  }
  .pattern {
    height: 61px;
    background: transparent url('../skins/pattern.png') repeat-x;
  }
  .links {
    padding: 10px 0;
    .copyright {
      text-align: right;
    }
    @media (max-width: @screen-xs-max) {
      text-align: center;
      .copyright {
        text-align: center;
      }
    }
  }
}

.right-inner-addon {
  position: relative;
}

.right-inner-addon input {
  padding-right: 30px;
}

.right-inner-addon i {
  position: absolute;
  right: 0px;
  padding: 10px 12px;
  pointer-events: none;
}

.form-search-friends {
  margin-top: 20px;
  .input {
    border-radius: 20px;
    background-color: #eee;
    &:focus {
      background-color: #fff;
    }
  }
  .icon-loading {
    display: none
  }
  .icon-search {
    display: inherit;
  }
  &.loading {
    .icon-loading {
      display: inherit;
    }
    .icon-search {
      display: none;
    }
  }
}
