body{
    font-family: Lato, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#tagline{
    font-size: 44px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 35px;
}

#voucher{
    line-height: 1.2;
}

@media (min-width: 768px) {
    #voucher{
        padding-top: 35px;
    }
}

#voucher-count{
    font-size: 60px;
    font-weight: 700;
}

#voucher-count-text{
    font-size: 40px;
}

.col-distance{
    margin-bottom: 35px;
}

.form-control{
    border-radius: 0;
    text-align: center;
}

#ecard-form .form-control{
    text-align: left !important;
}

.input-invite-code{
    height: 70px;
    font-size: 30px;
}

.input-invite-code::-webkit-input-placeholder {
    text-transform: uppercase;
}

.input-invite-code:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    text-transform: uppercase;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    text-transform: uppercase;
}

.btn-lg{
    border-radius: 0;
}

.btn-lg2{
    height: 50px;
    min-width: 215px;
}

/*.btn-group-code>.btn {*/
    /*height: 60px;*/
    /*width: 85px;*/
/*}*/

/*.btn-group-code>span{*/
    /*text-transform: uppercase;*/
    /*z-index: 100;*/
    /*position: absolute;*/
    /*font-size: 26px;*/
    /*color: white;*/
    /*left: 36px;*/
    /*top: 12px;*/
/*}*/

.alert-code{
    font-size: 32px;
    text-transform: uppercase;
}

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled], .stepwizard-step a[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 27px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    width: 55px;
    height: 55px;
    border-width: 3px;
    text-align: center;
    padding: 12px 0;
    font-size: 18px;
    line-height: 1.428571429;
    border-radius: 27px;
}

#finish{
    font-size: 32px;
    font-weight: 700;
}

#finish > .well{
    margin-top: 20px;
    border-radius: 0;
    font-size: 26px !important;
    font-weight: 200;
}

.btn-facebook{
    background-color: #3b5998;
    border: 0;
}

.btn-twitter{
    background-color: #55acee;
    border: 0;
}

#thanks{
    font-size: 40px;
}

#footer{
    margin: 20px 0;
}

#footer ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer ul > li {
    display: inline-block;
    margin-left: 8px;
}


/* carousel */
#ecard-image{
    margin-top: 30px;
}

.media-carousel
{
    margin-bottom: 0;
    padding: 0 40px 10px 40px;
    /*margin-top: 30px;*/
}
/* Previous button  */
#ecard-image.media-carousel .carousel-control.left
{
    left: -12px;
    background-image: none;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width : 40px;
    margin-top: 270px;
}

#ecard-thumb-image.media-carousel .carousel-control.left
{
    left: -12px;
    background-image: none;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width : 40px;
    margin-top: 45px;
}
/* Next button  */
#ecard-image.media-carousel .carousel-control.right
{
    right: -12px !important;
    background-image: none;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width : 40px;
    margin-top: 270px;
}

#ecard-thumb-image.media-carousel .carousel-control.right
{
    right: -12px !important;
    background-image: none;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width : 40px;
    margin-top: 45px;
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators
{
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li
{
    background: #c0c0c0;
}
.media-carousel .carousel-indicators .active
{
    background: #333333;
}
#ecard-thumb-image.media-carousel img
{
    width: 250px;
    height: 120px
}
/* End carousel */

#friend-lists{
    max-height: 500px;
    overflow-y: auto;
    margin-bottom: 15px;
}

#friend-lists .item .inner{
    padding: 7px;
}

#friend-lists .item .well img{
    width: 60px;
    height: 60px;
}

#friend-lists .item .inner table tbody tr td.name div{
    margin-left: 10px;
}

#friend-lists .item .well{
    cursor: pointer;
}

#modal-selected-friend .modal-footer{
    text-align: center;
}

#modal-selected-friend .modal-header{
    border-bottom: 0;
}